add_game_popup_content_form.game-modal-details{
  .css-5zqko6{
    padding: 0;
  }
}

.add_game_popup{

  &_title{
    border-bottom: 1px solid lightgray;
    padding: 20px 32px 10px;
    h2{
      font-size: 21px;
      font-weight: 500;
      margin-bottom: 2px;
    }
    p{
      font-size: 13px;
      color: #706f6f;
    }
  }
  &_content{
    padding: 20px 32px;
    &_sub_title{
      display: flex;
      align-items: center;
      .icon_game{
        svg{
          background: #efefef;
          width: 41px;
          height: 41px;
          border-radius: 50%;
          padding: 4px;
          color: #0277BD;
        }
      }
      &_content{
        margin-left: 12px;
        h3{
          font-size: 19px;
          font-weight: 500;
        }
        p{
          font-size: 13px;
          color: #706f6f;
        }
      }
    }
    &_form{
      .formData_btn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;
      }
      .select_label{
        width: 100%;
      }
      .text_Wrap{
        textarea{
          width: 100%;
          border: 1px solid lightgrey;
          border-radius: 5px;
          margin-top: 5px;
          padding: 10px;
          &:focus{
            outline: 1px solid #0277BD !important;
          }
        }

      }
      .tab01{
        margin-right: 10px;
      }
      .tab02{
        margin-left: 10px;
      }
      form{
        margin-top: 20px;
      }
      .orientation_filed{
        margin-left: 20px;
      }
      .popup_form{
        label{
          font-size: 14px;
          font-weight: 500;
        }
        .emailWrap{
          margin-top: 5px;
          input{
            padding: 10px;
            max-width: 397px;
            width: 100%;
            border-radius: 5px;
            height: 48px;
            border: 1px solid #cfd8e3;
          }
        }


      }
      .popup_form_checkbox{
        display: flex;
        align-items: center;
        margin: 0px 0 19px;
        label{
          font-size: 14px;
          font-weight: 500;
        }
        .platform_field{
          position: relative;
          display: flex;
          .checkboxWrap{
            background: #ebebeb;
            margin: 5px;
            padding: 5px 10px;
            position: relative;
            input{
              cursor: pointer;
              font-size: 0;
              height: 100%;
              left: 0;
              opacity: 0;
              padding-left: 26px;
              position: absolute;
              top: 0;
              width: 100%;
            }
            svg{
              width: 30px;
              height: 30px;
              color: #424141;
            }
          }
        }
      }
      .select_game_platform_value{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .filter-section-tab{
          width: 100%;
          height: 48px;
          border: 1px solid #cfd8e3;
          border-radius: 5px;
          margin-top: 5px;
          padding: 0 10px;
          .MuiFormControl-root.filter-inner-section-tab.css-1nrlq1o-MuiFormControl-root{
            width: 100% !important;
          }
        }
      }
      .design_document{
        margin-top: 20px;
        &_title{
          display: flex;
          svg{
            color: #0277BD;
          }
          .sub_title_content{
            margin-left: 10px;
            margin-bottom: 25px;

            h4{
              font-weight: 500;
              font-size: 19px;
            }
            p{
              font-size: 13px;
              line-height: 11px;
              margin-top: 5px;
              color: #706f6f;
            }
            .add_game_content{
              line-height: 19px ;
            }
            input{
              padding: 10px;
              width: 100%;
              border-radius: 5px;
              border: 1px solid #cfd8e3;
              box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
              margin-top: 10px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}
.select_multiple_menu{
  h2{
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif !important;
  }
  p{
    font-size: 13px;
    margin-top: 5px;
  }
}
.tab-left-side{
  margin-right: 10px;
}
.game-number-of-player-merge{
  display: flex;
  align-items: center;
  margin-left: 10px;
  .select_game_platform_value{
    width: 100%;
  }

}
//.filter_details_custom{
//  position: relative;
//  .select_custom{
//    position: relative;
//    input{
//      cursor: pointer;
//    }
//    svg{
//      position: absolute;
//      top: 19px;
//      right: 15px;
//    }
//    :focus{
//      outline: none;
//    }
//  }
//  .all_option_select{
//    background: white;
//    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
//    list-style: none;
//    padding: 0px;
//    position: absolute;
//    z-index: 8;
//    width: 100%;
//    top: 55px;
//    max-height: 35vh;
//    border-radius: 5px;
//    //height: 243px;
//    overflow: auto;
//    li{
//      padding:10px 20px;
//      cursor: pointer;
//    }
//  }
//}

.activeAddGame{
  background-color: rgba(63, 81, 181, 0.08);
}
.activePlatformIcon{
  svg{
    color: #0277BD !important;
  }
}
.add_admin_user_popup_content_pop{
  .formData{
    margin-bottom: 10px;
    .emailWrap{
      input{
        padding: 10px;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        margin-top: 10px;
        height: 48px;
        border: 1px solid #cfd8e3;
        border-radius: 5px;
      }
    }
    label{
      font-size: 14px;
      font-weight: 500;
    }
  }

}

.role_admin{
  .multi-select{
    margin-top: 5px;
    .dropdown-heading{
      height: 48px;
    }
  }
}

.admin_user_list_action{
  .edit_btn{
    margin-left: 10px;
  }
}
.publisher_popup_box{
  .cancel_btn{
    margin-right: 15px ;
  }
}
.css-pdct74-MuiTablePagination-selectLabel,.css-levciy-MuiTablePagination-displayedRows{
  font-size: 14px !important;
}

.css-1q1u3t4-MuiTableRow-root.Mui-selected {
  background-color: transparent !important;
}
.add_game_section_content_form{
  align-items: center;
  display: flex;
  justify-content: space-between;
  .formData{
    width: 49%;
  }
  .emailWrap {
    margin-top: 5px;
    width: 100%;
    input{
      width: 100% !important;
      max-width: 100% !important;
      &:focus{
        outline: 1px solid #0277BD !important;
      }
    }
  }
}
textarea{
  font-family: "Inter", sans-serif !important;
}
.profile {
  width: auto;
  padding-right: 100px;
  .user_profile {
    text-align: center;
    &_pic {
      position: relative;
      margin-bottom: 10px;
      //border: 1px solid lightgray;
      border-radius: 5% !important;
      img {
        border-radius: 100% ;
        height: 100px ;
        object-fit: cover ;
        width: 100px ;
      }
      .profile_label{
        padding-left: 14px;
      }
      .addnew {
        bottom: 4px ;
        height: 30px ;
        position: absolute ;
        right: -4px ;
        width: 30px ;
        img {
          width: 100% ;
          height: 100% ;
        }
        input[type="file"] {
          cursor: pointer;
          font-size: 0;
          height: 100%;
          left: 0;
          opacity: 0;
          padding-left: 26px;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }
}
.add_game_popup_content_form .design_document_title {
  display: flex;
  width: 100%;
  svg{
    width: 41px;
  }
  .sub_title_content{
    width: 70%;
    input{
      &:focus{
        outline: 1px solid #0277BD !important;
      }
    }
  }
}


.update_game_modal{
  .add_game_popup_content_form form {
    margin-top: 10px;
  }
.add_game_popup_title{
    border: none;
    padding: 0;
  text-align: center;
}
  .add_game_popup_content{
    padding: 0;
    .add_game_section_content_form{
      .profile{
        padding-right: 0;
      }

    }
    .popup_form_checkbox {
      display: flex;
      align-items: center;
      margin: 0px 0 15px 0;
    }
    .sub_title_content {
      width: 100%;
      margin-bottom: 15px;
      margin-left: 0;
      h4{
        font-size: 14px;

      }
    }
  }
}

.start-date-picker,.end-date-picker{
  input{
    padding: 0 !important;
  }
}
.admin_role{
  margin-top: 5px;
}
.norms-details{
  margin-left: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  li{
    padding-bottom: 3px;
  }
  .normsLig{
    color: green;
  }
}
.menu_label{
  span{
    font-family: "Inter", sans-serif !important;
  }
}

.fontFamily,.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  font-family: "Inter", sans-serif !important;
}
.game_tab_overView{
  .game_tab_overView_title{
    p{
      font-size: 14px !important;
    }
  }
  .game_tab_details{
    h3,p{
      font-family: "Inter", sans-serif !important;
    }
  }
}
.validation-star{
  color: #c81e1e;
}
.configuration-customization{
  display: flex;
  justify-content: space-between;
  .game_tab_overView.head_to_head_gameTab{
    width: 100%;
  }
  .game-play{
    margin-right: 20px;
  }
  .config{
    margin-left: 20px;
  }
}
.activeClass{
  background: rgba(25, 118, 210, 0.3215686275) !important;
  color: #cfd8e3;
}
.start-date-picker,.end-date-picker{
  input{
    box-shadow: none !important;
  }
}
.css-dplwbx-MuiPickersCalendarHeader-label{
  font-family: "Inter", sans-serif !important;
}
.number-Of-decks{
  .game_flex{
    padding-left: 0 !important;
    overflow: inherit !important;
  }
}
.edit-game-decks{
  width: 100%;
}
.notranslate{
  color: #73788b !important;
  font-weight: 400;
}
.filter-game-mode-config{
  width: 100%;
}
.game-mode-config-design{
  input{
    display: flex;
    align-items: stretch;
    min-height: 48px;
    border-radius: 6px;
    padding: 0 16px;
    background-color: white;
    border: 1px solid #cfd8e3;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 7px;
  }
}