.admin_user_list{
  display: flex;
  justify-content: flex-end;
  button.add_game_btn{
    color: white;
    border: none;
    padding: 10px 31px;
    border-radius: 5px;
    background: #1976d2;
    cursor: pointer;
    font-weight: 600;
  }
}
.add_admin_user_popup{
  &_title{
    text-align: center;
    h2{
      font-size: 24px;
      font-weight: 600;
    };
  }
  form{
    margin-top: 10px;
    .btn-loader{
      height: 24px;
      width: 24px;
      margin: 0 auto;
      span{
        height: 100% !important;
        width: 100% !important;
        svg{
          color: aliceblue !important;
        }
      }
    }
  }
  .add_admin_user_role{
    display: flex;
    flex-direction: column;
    .role_select_dropdown{
      border: 1px solid lightgrey;
      margin-top: 5px;
      height: 48px;
      border-radius: 5px;
      padding: 0 10px;
    }
  }
  &_content{
    input{
      display: flex;
      align-items: stretch;
      min-height: 48px;
      border-radius: 6px;
      padding: 0 16px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      background-color: white;
      border: 1px solid #cfd8e3;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 7px;
    }
    .admin_list_flex{
      display: flex;
      justify-content: space-between;
      .formData{
        width: 100%;
      }
      .left_side_filed{
        margin-right: 10px;
      }
      .right_side_filed{
        margin-left: 10px;
      }
    }
  }
  .formData_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
  }
}

.default_dropdown.category_listing_dropdown{
  margin-left:0;
  .dropdown_value_details{
    margin-top: 10px;
    color: black;
  }
.dropdown_content_value{
  top: 36px;
}
  .dropdown_content_list{
    ul{
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        .dropdown_content_list_sub{
          display: flex;
          align-items: center;
        }
        .dropdown_content_list_field{
          display: flex;
          align-items: center;
          margin-right: 10px;
        }
        input{
          width: 15px;
          height: 15px;
          margin-right: 8px;
          cursor: pointer;
        }
        label{
          cursor: pointer;
        }
      }
    }
  }
}
.game_details_header_dropdown{
  .MuiSelect-selectMenu{
    padding: 0 !important;
  }
  .MuiSelect-icon {
    right: -30px !important;
    position: absolute;
    color: white !important;
  }
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-h4y409-MuiList-root{
  max-height: 300px;
}
.how_to_play_section_details{
  .game_flex{
    padding: 0 !important;
  }
  .formData_field.upload_img_section{
    left: 5% !important;
    max-width: 588px;
  }
  .add_admin_user_popup_content form .game_display_form{
    display: block;
  }
  .game_mode_btn {
    display: flex;
    align-items: center;

    .game_mode_btn_option {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      input {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        margin-bottom: 0;
        margin-top: 0;
        cursor: pointer;
      }
    }

    .tab_radio {
      margin-left: 10px;
    }
  }
}
.select-dropdown-main{
  .MuiSelect-select.MuiSelect-select{
    height: 46px !important;
    padding: 0 16px !important;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
}
input[type="radio"]{
  box-shadow: none !important;
}
.main-filter-dropdown{
  text-transform: capitalize !important;
}