.ag_gameSection{
  padding: 30px 0;
  .ag_main{
    .slick-slider{
      @include Slickbtn;
      .slick-prev{
        left: -17px !important;
        &::before{
          display: none;
        }
      }
      img{
        padding: 0 10px;
        height: 170px;
        width: 100%;
        object-fit: cover;
      }
      .slick-next {
        right: -17px !important;
      }
    }

  }
  .ag_gameDescription{
    padding-top: 40px;
    .ag_content{

      max-width: 1110px;
      width: 100%;
    }
    .ag_desc{
      width: 100%;
      p{
        font-size: 14px;
        line-height: 21px;
        color: #423A70;
        letter-spacing: 0;
      }
    }
    .ag_feature{
      .ag_header{
        margin-top: 30px;
        h3{
          margin-bottom: 25px;
          font-size: 20px;
          line-height: 21px;
          color: #150D42;
          letter-spacing: 0;
          font-weight: bold;
        }
      }
    }
    .ag_featureList{
      ul{
        li{
          margin-bottom: 10px;
          position: relative;
          div{
            font-size: 14px;
            line-height: 24px;
            color: #423A70;
            letter-spacing: 0;
            padding-left: 24px;
            &::after{
              content: url('../images/leaves.png');
              position: absolute;
              width: 13px;
              height: 14px;
              top:2px;
              left: 0;
            }
          }
        }
      }
    }
    .ag_mainTab{
      padding-left: 70px;
      //@include mediaQuery(1560px){
      //  padding-top: 30px;
      //  padding-left: 0;
      //}
      .ag_tabSidebar {
        .apple_btn{
          margin-right: 10px;
        }
      }
    }
  }
}
.ag_gameSlick{
  padding: 0 30px;
}

.add_admin_user_popup_content{
  form{
    .game_display_form{
      display: flex;
      .user_profile{
        position: relative;
        width: 250px;
        .header_section_slider{
          position: relative;
          margin-top: 5px;
        }
        img{
          width: 200px;
          object-fit: cover;
          height: 77px;
          border: 1.5px solid #dedede;
          border-radius: 10px;
        }
        .add_new{
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          top: 0;
          input[type=file] {
            cursor: pointer;
            font-size: 0;
            height: 100%;
            left: 0;
            opacity: 0;
            //padding-left: 26px;
            position: absolute;
            top: 0;
            width: 100%;
          }

        }
      }
      .features_details{
        margin-top: 5px;
      }
      .rdw-editor-wrapper {
        box-sizing: content-box;
        margin-top: 5px;
      }

      .game_flex{
        padding-left: 40px;
        width: 100%;
        max-height: 77vh;
        overflow: auto;
      }
      label{
        font-weight: 500;
      }
    }

  }
}
.form_common_btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  button{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    max-width: 136px;
  }
  .submit_btn{
    background: #2977bd;
  }
  .cancel_btn{
    background: white;
    color: #2977bd;
    margin-right: 20px;
    border: 1px solid #2977bd;
  }
}


.req_rejected{
  color: red;
}
.rejected_reason_modal{
  background: transparent;
  border: none;
  color: #0277BD;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.rejected_modal_content_text{
  margin-top: 10px;
  p{
    line-height: 24px;
  }
}

.formData_field.upload_img_section {
  margin-bottom: 10px;
  //position: absolute;
  //left: 26%;
  //max-width: 660px;
  //width: 100%;
  //height: 92px;
  //top: 322px;
  .upload__image-wrapper{
    display: flex;
    justify-content: space-between;
    .upload__image_section{
      button{
        border: none;
        background: transparent;
        cursor: pointer;
        img{
          border: none;
          width: 57px;
          height: 100%;
        }
      }
    }
    .upload_img_slider{
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0 0 78px;
      .image-item{
        position: relative;
        margin-bottom: 10px;
        margin-right: 10px;
        img.image-upload{
          border-radius: 10px;
          height: 75px;
          object-fit: cover;
          width: 75px
        }
        .close_upload_icon{
          position: absolute;
          right: -6px;
          top: -6px;

          button{
            background: transparent;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.add_game_btn_details{
  margin-top: 42px ;
}
.popup_modal_details_data{
  margin: 0 50px;
}
.game_mode{
  margin-top: 10px;
  label{
    font-size: 14px !important;
  }
  .game_mode_btn{
    margin-top: 10px;
    display: flex;
    .tab_radio{
      margin-left: 20px;
    }

    .game_mode_btn_option{
      display: flex;
      align-items: center;
      input{
        width: 17px;
        height: 17px;
        cursor: pointer;
      }
      label{
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
}
.add_game_mode_content{
  margin-top: 10px;
  .emailWrap{
    display: flex;
    align-items: center;

    button{
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
      0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
      height: 46px;
      background-color: #0277bd;
      min-width: 64px;
      padding: 6px 16px;
      border: 0;
      color: #fff;
      font-size: 0.875rem;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

}


.add_game_mode_listing{
  margin-top: 15px;
  h3{
    font-weight: 600;
    font-size: 15px;
  }
  ul{
    list-style: none;
    li{
      padding: 10px;
      display: flex;
      align-items: start;
      border-bottom: 1px solid lightgray;
      max-width: 100%;
      //justify-content: center;
      .game_mode_text{
        width: 134px;
        font-weight: 600;
      }
      .mode_text{
        font-weight: 500;
        //max-width: 400px;
        width: 100%;
        margin-left: 8px;
      }
      .unSuccess_class{
        color: red;
        margin-left: 48px;
        cursor: pointer;
        font-weight: 600;
        svg{
          cursor: pointer;
        }
      }
    }
  }
}
.update_game_modal_details{
  .update_game_modal{
    padding: 0;
    .add_game_popup_title{
      padding: 30px 0 20px;
    }
    .add_game_popup_content_form{
      height: 83vh;
      overflow: auto;
      padding: 0 30px 30px;
    }
  }
}
.game_release_section{
  input{
    min-height: auto;
    border: none;
  }
}

.game_active_list_details_pop{
  .headToHead_popup_details {
    border-bottom: none;
    .formData label {
      width: 50%;
      font-weight: 700 !important;
    }
  }
}
.country_availability{
  .MuiBox-root.css-g69k3t{
    padding: 0 !important;
    .add_admin_user_popup_title{
      padding: 20px 30px;
    }
  }
}
.country_availability_details{
  padding: 0 30px 30px;
  max-height: 70vh;
  overflow: auto;
  .country_availability_details_info{
    margin-bottom: 8px;
  }
}

.select_game_option_mode{
  margin-top: 10px;
  .select_game_option{
    margin-top: 10px;
    .form_data_field{
      display: flex;
      align-items: center;
      label{
        margin-left: 5px;
      }
      input{
        width: 15px !important;
        height: 15px;
        cursor: pointer;
      }
    }
  }
}
.game_tag_name{
  margin-top: 7px;
  .dropdown_edit_game_info{
    margin-top: 7px;
  }
}
.leaderboard_field{
  margin-top: 10px;
}
.disabled_btn_game{
  background: #ebebeb !important;
  color: gray !important;
  font-weight: 600;
  font-size: 14px !important;
  cursor: not-allowed !important;
}

input[type='checkbox']:focus,input[type='radio']:focus, .release_date input:focus{
  outline: none !important;
  box-shadow: none !important;
}

.new_game_section{
  width: 300px;
  .size-validation{
    font-size: 12px;
  }
  .user_profile {
    width: 100px;
    //margin-left: auto;
    .user_profile_pic{
      img{
        border-radius: 5% !important;
      }
      .addnew {
        bottom: -3px;
        right: -11px;
      }
    }
  }
}
.disabled_text_data{
  background: #ebebeb !important;
  color: gray !important;
  cursor: not-allowed !important;
}

.h2h_details_section{
  .headToHead_popup_details{
    border: none;
    .formData{
      margin-bottom: 13px;
      label{
        width: 53%;
      }
    }
  }
}
.popular_game_dropdown_details{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .inner_popular_game_dropdown{
    width: 20%;
  }
}

.game_release_section_modal{
    .country-user-details{
      input{
        border: none !important;
        height: auto !important;
        min-height: auto !important;
        box-shadow: none !important;
      }
      .select_game_release{
        margin-top: 7px;
        height: 48px;
        .dropdown-heading,.dropdown-container{
          height: 100%;
        }
      }
    }
}
.document_images_section{
  margin-top: 10px;
  //border: 1px solid;
  //padding: 10px;
  //border-radius: 4px;
  img{
    width: 100%;
    height: 247px;
    object-fit: cover;
  }
}

.game_mode_main_section{
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;
  margin-top: 20px;
  .game_mode_left_details{
    width: 100%;
    margin-right: 10px;
  }
  .add_game_mode_field{
    margin-top: 10px !important;
  }
  .add_game_mode_content{
    width: 100%;
    margin-top: 0;
    .add_game_mode_listing {
      margin-top: 0;
      margin-left: 10px;
    }
    table{
      width: 100%;
      th {
        text-align: left;
        font-weight: 800;
        padding-bottom: 5px;
      }
      td {
        padding: 5px 0;
      }
      .right_align{
        text-align: right;
        span{
          cursor: pointer;
        }
      }
    }
  }
}

.input_length_counter{
  position: relative;
  span{
    position: absolute;
    right: 9px;
    top: 15px;
    color: #a1a1a1;
  }
}

.game_details_info_section{
  .form_data_row{
    .form_data{
      h6{
        width: 190px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.genre_popup_details{
  .checkbox_modal{
    .game_mode_btn{
      display: flex;
      align-items: center;
      .game_mode_btn_option{
        display: flex;
        align-items: center;
        margin-top: 10px;
        input{
          width: 16px;
          height: 16px ;
          margin-right: 5px;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
      .tab_radio{
        margin-left: 10px;
      }
    }
  }
  input[type='radio']{
    box-shadow: none !important;
    min-height: auto !important;
  }
}

.all_game_dropdown_details{
  margin-top: 6px !important;
  .dropdown-heading{
    height: 48px !important;
  }
}
.popular_game_icon{
  img{
    width: 40px;
    height: 40px;
  }
}
.manage_game_builds{
  margin-top: 30px !important;
  max-width: initial !important;
  .manage_game_builds_details_flex{
    display: flex;
    width: 100%;
    .release_Guide_section{
      width: 100%;
      margin-right: 10px;
    }
    div#mui-component-select-mgpReleaseVersion{
      padding: 13px 26px 13px 12px;
    }
    .mb_build{
      width: 100%;
      margin: 0 0 0 10px;
    }
    .select_game_option {
      margin-top: 8px;
    }
    .manage_game_builds_details_field{
      width: 100%;

    }
    .main_label{
      font-weight: 600;
    }
    .rdw-editor-wrapper {
      margin-top: 6px;
    }
    .field_tab_build01{
      margin-right: 20px;
    }
    .field_tab_build02{
      margin-left: 20px;
      .release_Guide_section{
        margin-top: 10px;
      }
    }
  }
}
.user_kyc_section_filed_document_flex{
  display: flex;
  justify-content: space-between;
}
.game_build_uploader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 5px;

  .user_kyc_section_filed_document{
    .document_details_kyc{
      width: 100px;
      margin-top: 7px;
      .u_file-attachment{
        background: #fff;
        width: 100px !important;
        height: 100px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        margin-right: 15px;
        border: 1px dashed #d6d9e5;
        border-radius: 5px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        input{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          padding: 0;
          margin: 0;
          min-height:auto;
        }
      }
    }
  }
}

.main_label{
  font-weight: 600 !important;
}
.game_mode_details_icon{
  display: flex;
  align-items: center;
  margin-top: 11px;
  .form_group.profile.new_game_section{
    width: auto;
    padding: 0;
    .user_profile{
      width: 60px;
      .user_profile_pic{
        margin-bottom: 0;
        img{
          width: 60px;
          height: 60px;
          border-radius: 50% !important;
        }
        .addnew{
          img{
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  };
  .emailWrap{
    margin-left: 20px;
    width: 100%;
  }
}
.game_tab_overView_title_lobby{
  display: flex;
  justify-content: space-between;
}
.form_amount_tab03{
  margin-left: 10px;
}

.hide_table_td,.hide_table_th{
  width: 0 !important;
  padding: 0 !important;
}

.cate-main-details{
  display: flex;
  position: relative;
  .cate-admin-details{
    box-sizing: border-box;
    max-width: 100%;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 22px;
    background: #f5f5f5;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 2px;
    cursor: default;
    transition: font-size .3s,line-height .3s,height .3s;
    padding: 0 7px;
    margin-right: 6px;
  }
}
.CreateRoleCategory{
  .css-3xoay7{
    padding: 32px 45px !important;
    .dropdown_value_details{
      padding: 10px !important;
    }
  }
}
.add-game-section{
  .game_details_view {
    padding: 32px;
  }
  .game-form-details{
    padding-left: 32px;
    padding-bottom: 32px;
  }
  .game_flex{
    padding-right: 32px;
  }
}
.placeholder-admin-role{
  color: gray;
}