.filter-Analytics-data {
  margin: 35px 21px 32px 40px;
  align-items: center;
  justify-content: space-between !important;
  .outerbox-game{
    margin: 0 0px !important;
  }
  .main-status-publisher {
    width: 200px !important ;
  }
  .filter-section {
    width: 165px;
    select {
      width: 100%;
      height: 48px;
      border: 1px solid #cfd8e3 !important;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding: 10px;
    }
  }
}
.filter-pub {
  .react-dropdown-select {
    width: 200px;
    height: 48px;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
  }
  .react-dropdown-select-content.react-dropdown-select-type-single.css-v1jrxw-ContentComponent.e1gn6jc30 {
    align-items: center;
    flex-wrap: nowrap !important;
    width: 100%;
  }
}
.filter-user-report {
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1mlizqz-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    background: white;
    border: 1px solid lightgray;
  }
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    border: 1px solid lightgray;
  }
  fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid transparent !important;
  }
}
.publisher-data-filter {
  margin-bottom: 50px;
  .dauRevenueBox {
    width: calc(100% - 80px) !important;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: transparent;
    box-shadow: none;
    flex-wrap: nowrap;
    grid-gap: 20px;
    margin-top: 20px;
    @include media700 {
      flex-direction: column;
    }
    @include media576 {
      width: calc(100% - 32px) !important;
    }
    .dauRevenue-inner {
      margin: 0;
      width: 50%;
      width: -webkit-fill-available;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
      3px 7px 12px rgba(0, 0, 0, 0.3);
      padding-bottom: 0;
      background: #fff;
      &:last-child {
        margin-right: 0;
        @include media700 {
          margin: 20px auto;
        }
      }
      @include media700 {
        margin: 0;
      }
    }
  }
}
.disabled {
  color: lightgray !important;
  .dot {
    background: lightgray !important;
  }
}
.filter-analytics-page {
  width: 163px;
  .react-dropdown-select {
    height: 48px;
    border-radius: 5px;
    background: white;
  }
  .react-dropdown-select-dropdown-handle {
    display: none;
  }
  ::placeholder {
    color: black !important;
    font-weight: 400 !important;
  }
}
.user-profile-tab {
  form{
    input{
      border: 1px solid #cfd8e3;
      border-radius: 5px;
      height: 48px;
      padding: 0 10px;
    }
    button{
      cursor: pointer;
    }
  }
}

.filter-export-button{
  .btn-export{
    background-color: #fff;
    color: #0277BD;
    border: 1px solid #0277BD;
    min-height: 48px;
    max-height: 48px;
    padding: 6px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-weight: 500 !important;
    cursor: pointer;
  }
  .btn-csv{

  }
}
.MuiTooltip-popper{
  .MuiTooltip-tooltip{
    font-size: 11px !important;
  }
}

.payment-method-country{
  display: inline-block;
  li{
    display: inline;
  }
}


.option-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  .option {
    padding: 0px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    &:hover {
      background: #FFF9F1;
    }
    .radio {
      display: none;
    }
    label {
      cursor: pointer;
      width: 322px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .check {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }
  }
}
span.MuiTypography-root.MuiTypography-caption.css-1w13o7u-MuiTypography-root {
  font-size: 11px !important;
  font-weight: 600 !important;
  color: #97a6ba;
}
button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 12px !important;
}

.change-password{
  a{
    color: #0277BD;
    font-weight: bold !important;
    text-decoration: none;
    &:hover{
      border-bottom-color: #0277BD;
      text-decoration: initial;
    }
  }
}

#demo-multiple-name{
  border: 1px solid #cfd8e3 !important;
}

.form_Game_field{
  margin: 0 !important;
  margin-top: 10px !important;
}

.add_genre_active{
  color: #2977bd;
  font-weight: 600;
  background: aliceblue;
}