.avatar-section-data {
  .avatar_container_details{
    width: 800px;
    margin: 0 auto;
     .avatar-modal{
      margin-left: 0 !important;
    }
    .edit_avatar_btn{
      display: flex;
    }
  }
  .avatar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      margin-bottom: 5px;
      color: black;
    }
  }
  label {
    margin-bottom: 5px;
  }
  .upload_avatar_image {
    margin-top: 5px;
    position: relative;
    input{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 9999;
      cursor: pointer;
    }
    .avatar_uploader{
      height: 70px;
      width: 70px;
      border-radius: 50%;
    overflow: hidden;
    display: block;
    //background-color: #8E8C8C;
    position: relative;
    border: 1px solid #e2e8f0;
    margin: 5px auto;
  }
  }
  .submit_btn{
    margin-right: 10px;
  }
  button {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    height: 46px;
    margin-top: 5px;
    background-color: #0277bd;
    min-width: 64px;
    padding: 6px 16px;
    border: 0;
    color: #fff;
    font-size: 0.875rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar-modal {
    width: 100%;
    margin: 0 40px;
    @media screen and (max-width: 1700px) {
      margin: 0 20px;
    }
  }
  .avatar-name-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      position: relative;
      display: flex;
      align-items: stretch;
      min-height: 48px;
      border-radius: 6px;
      padding: 0 16px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      background-color: white;
      border: 1px solid #cfd8e3;
    }
  }
}

.errorMsg {
  font-size: 13px !important;
  text-transform: capitalize;
  margin: 2px 0;
  color: #c81e1e !important;
  font-weight: 500 !important;
}
.upload_avatar{
  text-align: center;
}

.avatar_box{
  display: flex;
  justify-content: space-between;
  .outerbox{
    margin-right: 0;
    width: 70%;
    .upload_avatar{
      width: 80px;
    }
    .profile {
      padding-right: 0;
      .user_profile_pic {
        width: 80px;
        margin-top: 6px;
        img{
          height: 80px;
          width: 100%;
        }
        .addnew{
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .avatar_right_box{
    margin-right: 40px;
    width: 30%;
  }
  .avtar_btn_details{
    width: 25%;
    button {
      margin-right: 10px;
      margin-left: 0;
    }
    @media screen and (max-width: 1700px) {
      width: 32%;
    }
    @media screen and (max-width: 1617px) {
      width: 34%;
    }
    @media screen and (max-width: 1580px) {
      width: 40%;
    }
    @media screen and (max-width: 1480px) {
      width: 45%;
    }
    @media screen and (max-width: 1439px) {
      width: 50%;
    }
  }
}
.search_box_avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding_left{
  padding-right: 5px;
}