.filter_details_tab_section{
  display: flex;
  justify-content: flex-end;
  //height: 48px;
  .filter_inner_tab_info{
    height: 100%;
    .filter_export_date_dropdown{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: end;
      .filter_export_details_dropDown{
        margin-right: 5px;
        margin-bottom: 10px;
      }
      .filter_days_details_dropDown{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      .custom_date_filter{
        display: flex;
        align-items: center;
        height: 52px;
        margin-bottom: 10px;
        .date-to{
          margin-left: 5px;
          margin-right: 5px;
          font-weight: 600;
          font-size: 20px;
          font-family: "Inter", sans-serif;
        }
        .start-date-picker,.end-date-picker{
          height: 100%;
          display: flex;
          align-items: center;
          border: 1px solid  #ced4da;
          border-radius: 4px;
          padding: 0 0 0 11px;
          margin-left: 5px;
          margin-right: 5px;
          font-family: "Inter", sans-serif;
        }
      }
      .search-filter-section{
        height: 52px;
        margin-left: 5px;
        margin-bottom: 10px;
        .search-input{
          margin-right: 0;
        }
        input{
          box-sizing: border-box;
          height: 52px;
          padding: 0 38px 0 10px;
          margin-right: 5px;
          font-family: "Inter", sans-serif;
        }
        button{
          height: 100%;
          color: #97a6ba;
          box-shadow: none;
          margin-left: 5px;
          border-radius: 4px;
          background-color: rgba(151, 166, 186, 0.38);
          font-family: "Inter", sans-serif;
        }
        svg{
          cursor: pointer;
        }
        p{
          position: absolute;
          right: 12px;
          top: 10px;
          font-family: "Inter", sans-serif;
        }
      }
    }
  }
  .MuiSelect-icon{
    right: 6px !important;
  }
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  border-radius: 50% !important;
}

.user_details_tab .tab_title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  max-width: 360px;
  min-width: 90px;
  position: relative;
  min-height: 48px;
  line-height: 1.25;
  letter-spacing: 0.02857em;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter", sans-serif !important;
}
.tab02{
  //.MuiSelect-icon{
  //  color: white !important ;
  //}
}

.disabled_class{
  .MuiSelect-selectMenu{
    background:#f0f3f7 !important;
    color: black !important;
  }

}
.MuiPickersDay-today{
  background: #7e7d7d !important;
  border-radius: 50% !important;
  font-weight: 500 !important;
  border: none !important;
  color: white !important;
}
button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root{
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
}

.game_approve_tab{
  .create_headToHead_modal .add_admin_user_popup_title{
    padding: 0 !important;
  }
}
.MuiSelect-icon{
  right: 6px !important;
}