
body {
  padding: 0;
  margin: 0;
}
button,input{
  font-family: "Inter", sans-serif !important;
}
html,
body,
#root {
  height: 100%;
}
.d_flex{
  display: flex;
}
.bg_black {
  background: #0c0d13;
}
/* Display */
.sd_block {
  display: block;
}
.sd_inlineblock {
  display: inline-block;
}
.sd_hidden {
  display: none;
}
.sd_events_none {
  pointer-events: none;
}
.pointer {
  cursor: pointer !important;
}
.sd_c_unset {
  cursor: unset;
}

/* Flex */
.sd_flex {
  @include flex;
}
.sd_flexwrap {
  @include f_wrap;
}
.sd_aligncenter {
  @include align_center;
}
.sd_justbetween {
  @include justify_between;
}
.sd_justcenter {
  @include justify_center;
}
.sd_justEnd {
  justify-content: end;
}
.sd_space_evenly {
  @include space_evenly;
}
.sd_flex_column {
  @include flex;
  flex-direction: column;
}
.sd_flex_1_auto {
  flex: 1 1 auto;
}
.mt_15 {
  margin-top: 15px;
}
/* Position */
.sd_relative {
  position: relative;
}
.sd_absolute {
  position: absolute;
}

/* Text Alignment */
.sd_textcenter {
  text-align: center;
}
.sd_textleft {
  text-align: left !important;
}
.sd_textright {
  text-align: right;
}

/* Text Formatting */
.sd_textuppercase {
  text-transform: uppercase;
}
.sd_textlowercase {
  text-transform: lowercase;
}
.sd_textcapitalize {
  text-transform: capitalize;
}

.sd_flex_1_auto {
  flex: 1 1 auto;
}
.sd_white_no_wrap {
  white-space: nowrap;
}
.sd_font_14,
.srv-validation-message {
  font-size: 14px;
}
.srv-validation-message {
  color: #c81e1e;
  margin: 5px 0;
  font-size: 12px;
  font-weight: 600;
}
.sd_margin_auto {
  margin: 0 auto;
}
.mt_20 {
  margin-top: 20px;
}
.mt_40 {
  margin-top: 40px !important;
}
.mr_15 {
  margin-right: 15px;
}
.pr_15 {
  padding-right: 15px !important;
}
.pl_15 {
  padding-left: 15px;
}
.p_15 {
  padding: 15px;
}
.bg_white {
  background: $white;
}
.radius_8 {
  border-radius: 8px;
}
.box_shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.loader {
  position: fixed;
  z-index: 999;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.site_loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: $lighBlack;
  z-index: 999999;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link_color {
  color: $colorBlue;
  font-weight: 600 !important;
}
.css-1s2u09g-control,
.css-1pahdxg-control {
  min-height: 48px !important;
}
.search_input {
  .close_btn {
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
  }
}
.login_section {
  overflow: hidden;
  height: 100%;
}
.block-user-title {
  font-weight: 500 ;
  font-size: 1.25rem ;
  line-height: 1.6 ;
  letter-spacing: 0.0075em;
}
.user-validation-tab {
  margin-left: 175px;
}
.Publisher_detail {
  .publisher-title-data {
    font-weight: 600 !important;
  }
}
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: red;
  margin-left: 5px;
}

.dot.dot_blue {
  background: rgb(0, 143, 251) !important;
}

.dot.dot_orange {
  background: rgb(255, 69, 96) !important;
}

.dot.dot_yellow {
  background: rgb(254, 176, 25) !important;
}

.dot.dot_green {
  background: rgb(0, 227, 150) !important;
}

.chart {
  width: calc(100% - 80px) !important;
  margin: 50px auto;
  padding: 30px 30px 30px 18px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
  0 4px 6px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  background: #fff;
  margin: 20px auto 0;
  position: relative;
  .chart-title-data {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    h2,
    p {
      font-size: 15px !important;
      line-height: 24px;
      font-weight: 700 !important;
      color: rgb(55, 61, 63) !important;
    }
  }

  .mb_20 {
    margin-bottom: 20px;
  }
  h3 span {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }

  h3 span .infoicon {
    width: 12px;
    height: 12px;
    color: #2977bd;
  }

  .chart_info p {
    color: black;
    font-size: 12px !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .apexcharts-toolbar {
    display: none;
  }
  .apexcharts-tooltip.apexcharts-theme-light {
    border: 1px solid #e3e3e3;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #333;
    color: white;
    font-size: 14px !important;
  }
  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: #000000;
  }
  text#SvgjsText1175 {
    fill: rgb(12, 13, 19) !important;
  }
}

@mixin media1075 {
  @media (max-width: $screen-1075) {
    @content;
  }
}
@mixin media960 {
  @media (max-width: $screen-960) {
    @content;
  }
}
@mixin media768 {
  @media (max-width: $screen-768) {
    @content;
  }
}
@mixin media700 {
  @media (max-width: $screen-700) {
    @content;
  }
}

@mixin media665 {
  @media (max-width: $screen-665) {
    @content;
  }
}

@mixin media600 {
  @media (max-width: $screen-600) {
    @content;
  }
}
@mixin media576 {
  @media (max-width: $screen-576) {
    @content;
  }
}
@mixin media550 {
  @media (max-width: $screen-550) {
    @content;
  }
}
@mixin media500 {
  @media (max-width: $screen-500) {
    @content;
  }
}
@mixin media480 {
  @media (max-width: $screen-480) {
    @content;
  }
}

@mixin media450 {
  @media (max-width: $screen-450) {
    @content;
  }
}

@mixin media395 {
  @media (max-width: $screen-395) {
    @content;
  }
}
@mixin media375 {
  @media (max-width: $screen-375) {
    @content;
  }
}
@mixin media350 {
  @media (max-width: $screen-350) {
    @content;
  }
}
.outerbox {
  margin: 32px 40px;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
  color: transparent ;
}
.apexcharts-yaxis-label{
  tspan{
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}
.apexcharts-xaxis-title-text{
  font-weight: 600 !important;
}
.chart-details-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    font-size: 15px !important;
    line-height: 24px;
    font-weight: 700 !important;
    color: rgb(55, 61, 63) !important;
    margin-left: 20px;
  }
}
.active_label_list{
  color: #0277BD !important;
  background: #f5f5f5;
}

.loader_css{
  .btn-loader{
    height: 24px;
    width: 24px;
    margin: 0 auto;
    span{
      width: 100% !important;
      height: 100% !important;
      svg{
        color: white;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
a img, img { display: block; width: auto; max-width: 100%;     }
.status_field{
  color: #27303f;
  font-weight: 500;
}
.css-vnyoib{
  padding: 0 !important;
}

.cancel_btn,.submit_btn{
  min-width: 100px;
  width: auto;
  margin-left: 10px;
  height: 40px;
  padding: 0;
  text-transform: capitalize;
  border-radius: 3px;
  cursor: pointer;
}
.cancel_btn{
  border: 1px solid #7b849e;
  color: #7b849e;
  background: white;
}
.submit_btn{
  background: #2977bd;
  border: 1px solid #2977bd;
  color: white;
}

.action_field{
  display: flex !important;
  .u_border_field{
    width: 100px;
    border-right: 1px solid lightgrey;
    padding-right: 7px;
    text-align: center;
  }
  .prTab{
    padding-left: 14px;
    margin: 0 !important;
  }

  .u_border{
    border-right: 1px solid lightgrey;
    padding-right: 7px;
    width: 74px;
    text-align: center;
    span{
      margin: 0;
      padding: 0;
    }
  }
}
.role_field_id{
  .u_border{
    border-right: 1px solid lightgrey;
    padding: 0 14px 0 0;
    margin: 0;
  }
  .prTab{
    padding-left: 14px;
  }
  .active_border{
    margin: 0;
  }
}
.text_center{
  text-align: center !important;
}
.mb_build{
  margin-bottom: 10px;
}
.small_font{
  margin-top: 7px;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 18px;
}
.margin_Right{
  margin-right: 20px;
} .margin_Left{
  margin-left: 20px;
}
  .font-bold{
    font-weight: 600 !important;
  }
  .d_flex_head{
    display: flex;
    justify-content: flex-end !important;
  }

  .logout_btn{
    border-top: 1px solid !important;
  }

  input,.css-qc6sy-singleValue{
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  li.MuiListItem-button{
    text-transform: capitalize;
    font-size: 14px !important;
    font-family: "Inter", sans-serif !important;
  }
  .MuiSelect-select{
    padding: 13.5px 26px 13.5px 12px !important;
  }

  .payment_method_filter{
    .MuiSelect-select{
      font-family: "Inter", sans-serif !important;
      padding: 0 26px 0 12px !important;
    }
    svg{
      margin-right: 10px;
    }
  }
  .tds-main-section{
    margin: 32px 40px 0;
    display: flex;
    align-items: center;
    h2{
      padding-left: 30px;
    }
    .tds-back-btn{
      padding: 6px 14px 6px 6px;
      background: white;
      border-radius: 5px;
      border: 1px solid lightgray;
      display: flex;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
    }
  }
.user_details_section{
  .form_data{
      h6,p{
        font-family: "Inter", sans-serif !important;
      }
  }
}
.srv-validation-message{
  font-family: "Inter", sans-serif !important;
}
.add_admin_user_popup_content{
  position: relative;
}