.dashboard_wrapper {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 991px) {
    .left_side_wrapper {
      transform: translateX(-100%);
      position: fixed;
      transition: 0.3s;

    }
    &.active {
      .left_side_wrapper {
        transform: translateX(0);
      }
    }
  }
}

.left_side_wrapper {
  width: 100%;
  max-width: 310px;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  height: 100%;
  bottom: 0;
  top: 0;
  background: $lighBlack;
  color: $white;
  .left_side_inner_sec{
    .tab_sidebar_details{
      height: calc(100vh - 150px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    .tab_sidebar_details::-webkit-scrollbar {height: .2rem; width: .4rem;}/* width */
    .tab_sidebar_details::-webkit-scrollbar-track {background: #BFC6CF; }/* Track */
    .tab_sidebar_details::-webkit-scrollbar-thumb {background: #3E4A58; }/* Handle */
    .tab_sidebar_details::-webkit-scrollbar-thumb:hover {background: #495568; }/* Handle on hover */
  }
  .icon-left-side,.Game_Icon {
    svg {
      color: #97a6ba;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      fill: #97a6ba;
    }
  }
  .Game_Icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  span {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #cfd8e3;
  }
  .list_item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    transition: background-color 375ms cubic-bezier(0.25, 0.8, 0.25, 1);
    color: #cfd8e3;
  }
}
.right_side_wrapper {
  width: 100%;
  max-width: calc(100% - 300px);
  background: $loginBg;
  position: relative;
  overflow: auto;
  @media screen and (max-width: 991px) {
    max-width: 100% !important;
  }
}
