.documentation_main_section{
  //height: calc(100vh - 86px);
  //background: white;
  //padding: 30px;
  .documentation_section{
    &_title{
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      margin-bottom: 20px;
      h2{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }
    }
    &_content{
      display: flex;
      .content_box{
        width: 274px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 5px;
        padding: 20px 23px;
        margin-right: 30px;
        &_icon{
          svg{
            width: 40px;
            height: 40px;
            color: #1976d2;
            margin-bottom: 10px;
          }
        }
        &_description{
          h3{
            font-size: 16px;
            font-weight: 500;
          }
          p{
            line-height: 20px;
            font-size: 13px;
            margin-top: 5px;
          }
        }
      }
    }
    .documentation_how_to_start{
      //margin-top: 30px;
      .how_to_start_title{
        margin-bottom: 20px;
        h2{
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 5px;
          font-family: "Inter", sans-serif !important;
        }
      }
      .how_to_start_content{
        display: flex;
        .start_content_box{
          width: 274px;
          border: 1px solid rgb(224, 224, 224);
          border-radius: 5px;
          margin-right: 30px;
          display: flex;
          justify-content: space-between;
          &_icon{
            background: #eeee;
            height: 58px;
            padding: 0 18px;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          &_description{
            h3{
              height: 58px;
              display: flex;
              align-items: center;
              padding: 0 15px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .document_record_status{
      display: flex;
      align-items: center;
      svg{
        margin-right: 5px;
      }
    }
    .document_record_status_resolved{
      display: flex;
      align-items: center;
      color: #75b537;
      svg{
        margin-right: 5px;
      }
    }
  };

}

.help_support_drawer{
  width: 800px;
  padding: 20px;
  height: 100%;
}