.date-show{
  height: 100%;
  fieldset{
    border: none !important;
  }
  svg{
    color: rgb(151, 166, 186);
  }
  .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{    height: 100%;}
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    height: 100%;
  }
  input{
    box-sizing: border-box;
  }
}
.u_border_details{
  color: #0277BD !important;
}
.date-to{
    h5{
      font-size: 18px;
      font-weight: 500;
      color: rgb(100, 116, 139);
    }
}
.default_dropdown {
  position: relative;
  margin-left: 24px;

  .dropdown-active-border {
    border: 1px solid #0277BD !important;
  }

  .dropdown_value_details {
    position: relative;
    display: flex;
    min-height: 48px;
    border-radius: 4px;
    padding: 0 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #cfd8e3;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #64748b;
    font-size: 14px;
  }

  .dropdown_content_value {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: white;
    transform-origin: 50% 112px 0px;
    font-size: 14px;
    opacity: 1;
    transform: scaleY(1);
    max-width: 306px;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 287px;
    min-width: 100%;
    border-radius: 4px;
    position: absolute;
    top: 17px;
    z-index: 8;
    color: #64748b;
    .search_filter_dropdown {
      padding: 10px 15px;
      position: relative;

      input {
        padding: 10px 30px 10px 10px !important;
        border: 1px solid #cfd8e3;
        border-radius: 6px;
        max-width: 100%;
        width: 100%;

        &:focus {
          outline: none !important;
        }
      }

      p {
        position: absolute;
        top: 17px;
        right: 23px;
        cursor: pointer;
      }
    }
  }

  .dropdown_content_list {
    max-height: 170px;
    overflow: auto;

    ul {
      li {
        line-height: 3em;
        height: 3em;
        color: #64748b;
        width: 100%;
        padding: 0 16px;
        cursor: pointer;
        display: flex;
        align-items: center
      }
    }
  }
}
.filter_details_tab{
  .filter_inner_tab{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    svg{
      color: #64748b;
    }

    .drop-down-filter{
      margin-right: 10px;
      margin-bottom: 10px;
      .default_dropdown{
        margin-left: 0;
      }
      .dropdown_value_details{
        width: 189px;
        border-radius: 5px;
      }
    }
    .filter-date-section{
      margin-bottom: 10px;
      .date-picker-analytics{
        display: flex;
        align-items: center;
        height: 48px;
        .start-date-picker, .end-date-picker{
          border: 1px solid #cfd8e3;
          border-radius: 5px;
          height: 48px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }
        .end-date-picker{
          margin-right: 10px;
        }
        .date-to{
          padding: 0 10px ;
          h5{
            font-weight: 600;
          }
        }
      }
    }
    .search-filter-section{
      height: 48px;
      margin-bottom: 10px;

      input{
        box-sizing: border-box;
        height: 48px;
        padding-right: 40px
      }
      button{
        height: 100%;
        color: #97a6ba;
        box-shadow: none;
        background-color: rgba(151, 166, 186, 0.38);
      }
      svg{
        cursor: pointer;
      }
      p{
        position: absolute;
        right: 21px;
        top: 10px;
      }
    }
  }
}
.search-filter-section{
  .search-input{
    margin-right: 8px;
  }
}
.active-filter-active {
  background-color: #0277bd !important;
  svg{
    color: white !important;
  }
}

.dropdown-active-border{
  border: 1px solid #0277BD !important;
}

.agent-filter{
  background-color: rgba(151, 166, 186, 0.38);
  color: #97a6ba;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  min-height: 40px;
  border: none;
}
.active-filter-active {
  background-color: #0277bd !important;
  color: white !important;
}

.excel_export{
  .dropdown_value_details{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #cfd8e3;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    display: flex;
    min-height: 48px;
    border-radius: 6px;
    padding: 0 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
    color: #64748b;
  }
  .excel_export_selected_value{
    position: relative;
    .inner_content{
      position: absolute;
      width: 151px;
      background: white;
      z-index: 8;
      top: -39px;
      .file_menu{
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        padding: 10px 0;
        cursor: pointer;
        li{
          line-height: 3em;
          height: 31px;
          color: #64748b;
          width: 100%;
          padding: 0 16px;
          cursor: pointer;
          display: flex;
          align-items: center;

        }
      }
    }
  }
}
.withdraw_filter_details{
  .dropdown_value_details{
    width: 185px;
  }
  .excel_export_selected_value{
    .inner_content{
      width: 185px;
    }
  }
}

.dropdown-content{
  //top: 19px !important;
  padding: 0 !important;
  input{
    margin: 10px 10px !important;
    border: 1px solid lightgrey !important;
    border-radius: 5px;
    width: 95% !important;
    padding-right: 30px !important;
    &:focus{
      outline: none !important;
    }
  }
  .item-renderer{
    display: flex !important;
    align-items: center !important;
    label{
      padding: 5px 10px !important;
    }
    input{
      width: auto !important;
    }
  }
  ul{
    li{
      label{
        padding: 5px 10px !important;
      }
      input{
        width: auto !important;
      }
    }
  }
  svg{
    margin-left: -50px !important;
  }
}
.css-1gqp1kh{
  border: none !important;
}

.search-main_chart_nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .all_game {
    display: flex;
    align-items: center;
    margin: 5px 0px;
    .default_dropdown {
      position: relative;
      width: 200px;
      margin-right: 10px;
      margin-left: 0;
      .dropdown_content_value{
        width: 300px;
      }
    }
  }
  .dropdown_value_details{
    width: 100%;
  }
  .chart-export-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .export-btn-and-days-dropdown{
      margin-right: -10px;
      padding: 0px 5px;
      display: flex;
      align-items: center;
      .export-btn-div{
        padding: 0px 7px;
        cursor: pointer;
        .export-btn-analytics{
          padding: 0;
          cursor: pointer;
          background-color: #fff;
          color: #0277BD;
          border: 1px solid #0277BD;
          min-height: 48px;
          max-height: 48px;
          height: 100%;
          width: 100%;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          min-width: 92px;
          border-radius: 4px;
          overflow: visible;

          .mat-button-wrapper{
            font-weight: 500 !important;
          }
        }
      }
      .days-dropdown-select{
        margin: 0;
        width: 165px;
        padding: 0px 5px;
        display: flex;
        align-items: center;
      }
    }
    .date-picker-analytics{
      padding: 0px 5px;
      display: flex;
      align-items: center;
      margin-right: -10px;
      .start-date-picker{
        padding: 0px 5px;
        display: flex;
        align-items: center;
        width: 174px;
        min-height: 48px;
        .date-show{
          border: 1px solid #cfd8e3;
          position: relative;
          display: flex;
          align-items: center;
          border-radius: 6px;
          padding: 0 16px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          background: white;
          width: 100%;
          min-height: 48px;
          max-height: 48px;
        }

      }
      .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 12px 0!important;
      }
      .date-to{
        h5{
          font-size: 18px !important;
          font-weight: 500 !important;
          letter-spacing: -0.014em;
        }
      }
      .end-date-picker{
        padding: 0px 5px;
        display: flex;
        align-items: center;
        width: 174px;
        min-height: 48px;
        .date-show{
          border: 1px solid #cfd8e3;
          position: relative;
          display: flex;
          border-radius: 6px;
          padding: 0 16px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          background: white;
          width: 100%;
          min-height: 48px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
.center-spacing{
  margin: 32px 40px !important;
}

.release_guid_link_sec{
  p{
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      border: none;
      padding: 10px 26px;
      border-radius: 5px;
      color: #1976d2;
      cursor: pointer;
      margin-left: 10px;
      background: transparent;
    }
  }
}

.analytics_filter_details{
  margin: 30px 32px;
  .filter_details_tab_section{
    justify-content: space-between;
    .filter_game_list{
      .default_dropdown{
        margin: 0;
        margin-left: 5px;
        margin-bottom: 10px;
        width: 320px;
      }
    }
    .filter_inner_tab_info{
      width: 100%;
      .start-date-picker,.end-date-picker{
          background: white;
      }
    }
  }
 }
.bg_white_tab{
  svg{
    width: 30px !important;
    height: 30px !important;
  }
}