.game-details_header{
  background: #0c0d13;
  padding: 20px 32px;
  color: white;
  &_content{
    display: flex;
    justify-content: space-between;
    &_left{
      display: flex;
      &_profile{
        height: 100px;
        width: 100px;
      }
      &_content{
        padding-left: 20px;
        input{
          width: 100%;
          height: 39px;
          border-radius: 5px;
          margin-top: 5px;
          padding: 0 10px;
          background: #0c0d13;
          border: none;
          color: white;
          font-weight: 600;
          font-size: 17px;
        }
        .all_option_select{
          top: 43px;
          li{
            color: black;
            font-weight: 500;
          }
        }
        .activeAddGame {
          //background: white;
          color: black;
          font-weight: 500;
        }
       .select_custom svg {
          position: absolute;
         top: 14px;
          right: 15px;
         color: white;
        }
        p{
          margin-bottom: 7px;
          color: lightgrey;
        }
      }
    }
    &_right{
      text-align: right;
      button{
        padding: 8px 16px;
        color: #0277BD;
        border: 1px solid #0277BD;
        border-radius: 4px;
        font-weight: 500;
        cursor: pointer;
      }
      .time_Zone_content{
        padding-top: 18px;
        .all_option_select{
          top: 43px;
          text-align: left;
          li{
            color: black;
            //font-weight: 500;
          }
        }
        .select_label{
          display: flex;
          align-items: center;
        }
        svg{
          top: 13px;
          color: #0277BD
        }
        .select_custom{
          width: 400px;
        }
        input{
          width: 100%;
          height: 39px;
          border-radius: 5px;
          margin-top: 5px;
          padding: 0 10px;
          background: #0c0d13;
          border: none;
          color: #0277BD;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
  }
};

//Game Overview Tab
.game_tab_overView{
  &_title{
    h2{
      font-weight: 700;
      font-size: 20px;
      font-family: "Inter", sans-serif !important;
    }
  }
  &_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .game_tab_details{
      text-align: center;
      flex-basis: 20%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      h3{
        font-size: 15px;
        font-weight: 700;
      }
      p{
        color: #8E8C8C;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        padding-top: 9px;
      }
    }
  }
};

//Head To Head Game Tab
.head_to_head_gameTab{
  .game_tab_overView_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      color: white;
      border: none;
      padding: 10px 31px;
      border-radius: 5px;
      background: #1976d2;
      cursor: pointer;
    }
  }
  .head_to_head_gameTab_table{
    margin-top: 20px;
  }
}

.create_headToHead_modal{
  .add_admin_user_popup_content{
    max-height: 85vh;
    overflow: auto;
    padding: 0 32px 32px;
  }
  .formData_btn{
    margin-top: 20px;
  }
  .add_admin_user_popup_content input{
    margin-bottom: 0 !important;
  }
  .filter_details_custom .select_custom svg {
    position: absolute;
    top: calc(50% - 12px);
    color: rgba(0, 0, 0, 0.54);
    right: 7px;
  }
  .filter_days_details_dropDown{
    svg{
      right: 7px !important;
    }
  }
  .add_admin_user_popup_title{
    padding: 32px 32px 0px;
  }
  .formData{
    .emailWrap{
      position: relative;
      span{
        position: absolute;
        top: 15px;
        right: 12px;
        color: #97a6ba;
      }
      .wrap_input_modal{
        padding-right: 50px;
      }
    }
  }

  form{
    .formData{
      margin-bottom: 10px;
      width: 100%;
      input{
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      input:focus{
        outline: 1px solid #1976d2 !important;
      }
      select:focus, textarea:focus{
        outline: 1px solid #1976d2 !important;
      }
      .emailWrap{
        position: relative;
        span{
          position: absolute;
          top: 15px;
          right: 12px;
          color: #97a6ba;
        }
        .wrap_input_modal{
          padding-right: 50px;
        }
      }
    }
    .tournament_entry_fee{
      width: 50%;
    }
    .dropdown-heading{
      margin-top: 5px;
      position: relative;
      display: flex;
      min-height: 48px;
      border-radius: 4px;
      padding: 0 16px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      background-color: white;
      border: 1px solid #cfd8e3 !important;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: #64748b;
    }
    .dropdown-container{
      border: none !important;
    }

    .form_amount_tab01, .form_amount_tab02{
      svg{
        width: 20px;
        height: 20px;
      }
      label{
        display: flex;
        align-items: center;
      }
    }
    .form_amount_tab01{
      margin-right: 10px;
    }
    .form_amount_tab02{
      margin-left: 10px;
      input{
        cursor: initial;
        background: #e2e8f0;
      }
    }
    .tab02_inner_class{
      input{
        cursor: auto;
        background: white;
      }
    }
    .select-item.selected{
      background: #e2e8f0 !important;
    }
    .dropdown-content{
      position: absolute !important;
      z-index: 1 !important;
      top: 100% !important;
      width: 100% !important;
      padding-top: 8px !important;
    }
    .country-user-details{
      input{
        box-shadow: none !important;
        height: auto !important;
        min-height: auto !important;
        border: none !important;
      }
      .select-panel{
        .css-1gqp1kh{
          input{
            border: none !important;
          }
        }

      }
    }
    .formData{
      label{
        display: flex;
        align-items: center;
        svg{
          width: 20px;
          height: 20px;
        }
      }
      .checkbox_field_tournament{
        min-height: auto;
        box-shadow: none;
        width: auto;
      }
    }
    .d-flex-wrap{
      display: flex;
      align-items: center;
      .form_data_field{
        display: flex;
        label{
          margin-left: 5px;
        }
        input{
          width: 17px;
          height: 17px;
          cursor: pointer;
          &:focus{
            outline: none !important;
          }
        }
      }
      .tab_no{
        margin-left: 20px;
      }
    }
    .tournament_setting_content{
      h3{
        font-weight: 600;
        font-size: 17px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        svg{
          width: 20px;
          height: 20px;
        }
      }
      .tournament_setting_amount{
        display: flex;
        justify-content: space-between;
        //align-items: center;
        margin-top: 15px;
      }
    }
    .tournament_setting_content.prize_amount{
      margin: 0px;
      .formData{
        margin-bottom: 0;
      }
      h3{
        margin-top: 15px;
      }
      .tournament_setting_amount{
        margin-top: 10px;
      }
    }
    .mangingRight_tab{
      margin-right: 10px;
    }
    .tournament_setting_content{
      .tournament_title_field{
        font-size: 15px;
        margin-bottom: 12px;
      }
    }
    .time_zone_tournament{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date-show{
        height: 48px;
        border: 1px solid #cfd8e3;
        border-radius: 4px;
        margin-right: 10px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        input{
          height: 100% !important;
          min-height: 100% !important;
          border: none !important;
          box-shadow: none;
        }
      }
      .d-flex_wrap{display: flex; align-items: center;
        .emailWrap{
          width: 100%;
        }
        .tournamentTab01{
          margin-right: 5px;
        }
        .tournamentTab02{
          margin-left: 5px;
        }
      }
    };
    .repeatEvery{
      display: flex;
      align-items: center;
      .tournamentTab01{
        width: 100px;
        margin-right: 10px;
      }
    }
    .checkbox_input{
      .emailWrap{
        display: flex;
        input{
          min-height: auto;
          box-shadow: none;
          width: 19px;
          height: 19px;
          border: 1px solid rgb(226, 232, 240);
          cursor: pointer;
          &:focus{
            outline: none !important;
          }
        }
        label{
          margin-left: 5px;
        }
      }

    }
    .prize-tab0{
      margin-right: 5px;
    }
    .prize-tab01{
      margin: 0 5px;
    }
    .prize-tab02{
      margin-left: 5px;
    }
    .add_row{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      button{
        color: #1976d2;
        border: none;
        background: transparent;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.CreateRecurringTournament{
  .css-sseanl{
    padding: 0;
  }
  .add_admin_user_popup_title{
  padding: 32px 32px 0;
  }
  .create_headToHead_modal{
    .formData{
      .emailWrap{
        position: relative;
        span{
          position: absolute;
          top: 15px;
          right: 12px;
          color: #97a6ba;
        }
        .wrap_input_modal{
          padding-right: 50px;
        }
      }
    }

    form{
      padding: 0 32px 32px 32px;
      height: 79vh;
      overflow: auto;
      .formData{
        margin-bottom: 10px;
        width: 100%;
        input{
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }
        input:focus{
          outline: 1px solid #1976d2 !important;
        }
        select:focus, textarea:focus{
          outline: 1px solid #1976d2 !important;
        }
        .emailWrap{
          position: relative;
          span{
            position: absolute;
            top: 15px;
            right: 12px;
            color: #97a6ba;
          }
          .wrap_input_modal{
            padding-right: 50px;
          }
        }
      }
      .tournament_entry_fee{
        width: 50%;
      }
      .dropdown-heading{
        margin-top: 5px;
        position: relative;
        display: flex;
        min-height: 48px;
        border-radius: 4px;
        padding: 0 16px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: white;
        border: 1px solid #cfd8e3 !important;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        color: #64748b;
      }
      .dropdown-container{
        border: none !important;
      }
      .form_amount_tab01, .form_amount_tab02{
        svg{
          width: 20px;
          height: 20px;
        }
        label{
          display: flex;
          align-items: center;
        }
      }
      .form_amount_tab01{
        margin-right: 10px;
      }
      .form_amount_tab02{
        margin-left: 10px;
        input{
          cursor: initial;
          background: #e2e8f0;
        }
      }
      .tab02_inner_class{
        input{
          cursor: auto;
          background: white;
        }
      }
      .select-item.selected{
        background: #e2e8f0 !important;
      }
      .dropdown-content{
        position: absolute !important;
        z-index: 1 !important;
        top: 100% !important;
        width: 100% !important;
        padding-top: 8px !important;
      }
      .country-user-details{
        input{
          box-shadow: none !important;
          height: auto !important;
          min-height: auto !important;
          border: none !important;
        }
        .select-panel{
          .css-1gqp1kh{
            input{
              border: none !important;
            }
          }

        }
      }
      .formData{
        label{
          display: flex;
          align-items: center;
          svg{
            width: 20px;
            height: 20px;
          }
        }
        .checkbox_field_tournament{
          min-height: auto;
          box-shadow: none;
          width: auto;
        }
      }
      .d-flex-wrap{
        display: flex;
        align-items: center;
        .form_data_field{
          display: flex;
          label{
            margin-left: 5px;
          }
          input{
            width: 17px;
            height: 17px;
            cursor: pointer;
            &:focus{
              outline: none !important;
            }
          }
        }
        .tab_no{
          margin-left: 20px;
        }
      }
      .tournament_setting_content{
        h3{
          font-weight: 600;
          font-size: 17px;
          margin-top: 20px;
          display: flex;
          align-items: center;
          svg{
            width: 20px;
            height: 20px;
          }
        }
        .tournament_setting_amount{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
        }
      }
      .tournament_setting_content.prize_amount{
        margin: 0px;
        .formData{
          margin-bottom: 0;
        }
        h3{
          margin-top: 15px;
        }
        .tournament_setting_amount{
          margin-top: 10px;
        }
      }
      .mangingRight_tab{
        margin-right: 10px;
      }
      .tournament_setting_content{
        .tournament_title_field{
          font-size: 15px;
          margin-bottom: 12px;
        }
      }
      .time_zone_tournament{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date-show{
          height: 48px;
          border: 1px solid #cfd8e3;
          border-radius: 4px;
          margin-right: 10px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          input{
            height: 100% !important;
            min-height: 100% !important;
            border: none !important;
            box-shadow: none;
          }
        }
        .d-flex_wrap{display: flex; align-items: center;
          .emailWrap{
            width: 100%;
          }
          .tournamentTab01{
            margin-right: 5px;
          }
          .tournamentTab02{
            margin-left: 5px;
          }
        }
      };
      .repeatEvery{
        display: flex;
        align-items: center;
        .tournamentTab01{
          width: 100px;
          margin-right: 10px;
        }
      }
      .checkbox_input{
        .emailWrap{
          display: flex;
          input{
            min-height: auto;
            box-shadow: none;
            width: 19px;
            height: 19px;
            border: 1px solid rgb(226, 232, 240);
            cursor: pointer;
            &:focus{
              outline: none !important;
            }
          }
          label{
            margin-left: 5px;
          }
        }

      }
      .prize-tab0{
        margin-right: 5px;
      }
      .prize-tab01{
        margin: 0 5px;
      }
      .prize-tab02{
        margin-left: 5px;
      }
      .add_row{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        button{
          color: #1976d2;
          border: none;
          background: transparent;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }

}

label {
  font-weight: 500;
  font-size: 14px;
}
.profile_icon{
  .user_profile{
    position: relative;
    width: 250px;
    .header_section_slider{
      position: relative;
      margin-top: 5px;
      width: 100%;
    }
     img {
      width: 200px;
      height: 100%;
      border: 1.5px solid #dedede;
       border-radius: 5px;
    }
    .add_new {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
     input[type=file] {
        cursor: pointer;
        font-size: 0;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}

.optimize_tab{
  .basic_step_info{
    .optimize_set_content{
      display: flex;
      //align-items: center;
      justify-content: space-between;
      .optimize_set_box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid  #ECEDF0;
        border-radius: 4px;
        padding: 16px 16px;
        flex-basis: 100%;
        position: relative;
        margin-top: 12px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
        @media (max-width: 1070px) and (min-width:960px) {
          flex-basis: 100%;
        }
        @media (max-width: 820px) {
          flex-basis: 100%;
        }
        .box_information{
          width: calc(100% - 12px);
          .box_title{
            display: flex;
            align-items: center;
            p{
              display: flex;
              align-items: center;
              margin-left: 5px;

              svg{
                color: #C81E1E;
              }
              span{
                font-size: 13px;
                letter-spacing: 0;
                line-height: 18px;
                color: #C81E1E;
                font-weight: 500;
              }
            }
            h3{
              font-size: 20px;
              font-weight: 600;
              letter-spacing: 0;
              line-height: 32px;
              display: flex;
              align-items: center;
            }
          };
          .success_class{
            span{
              color: #5b9f5b !important;
              margin-left: 5px;
            }
          }
          .note_description{
            font-size: 13px;
            letter-spacing: 0;
            line-height: 20px;
            color: #8E8C8C;
            padding-right: 5px;
          }
        }
      }
    }
  }
}
.game_information_box{
  .back_arrow{
    padding: 32px 40px 0;
    display: flex;
    align-items: center;
    color: #1976d2;
    cursor: pointer;
  }
  .game_info_section{
    .game_information_content{
      .game-details-title{
        text-align: start;
        padding: 10px 10px 10px 0px;
        width: 244px;
        font-weight: bold;
      }
      td{
        font-weight: 400;
      }
      .game-details-img{
        img{
          width: 90px;
          height: 90px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
.edit_game_info_section{
  form{

    .game_info_edit_form{
      display: flex;
      label{
        color: black;
      }
      .d_flex_filed{
        display: flex;
        align-items: center;
        max-width: 488px;
        input{
          width: 100%;
          max-width: 100%;
        }
        .field_left{
          width: 100%;
          margin-right: 10px;
        }
        .field_right{
          width: 100%;
          margin-left: 10px;
        }

      }
    }

    input{
      max-width: 488px;
      width: 100%;
    }
    textarea{
      max-width: 488px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: stretch;
      min-height: 48px;
      border-radius: 6px;
      padding: 10px 16px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      background-color: white;
      border: 1px solid #cfd8e3;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
};

.optimize_steps{
  position: relative;
  height: calc(100vh - 24vh);
  .gameWork_save_btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 15px 0;
    .step_btn{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 40px;
      .save_exist_btn{
        color: #0277BD;
        background: transparent;
        border: none;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
  .game_work_section{
    .game_work_title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_steps{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          color: #8E8C8C;
        }
      }
      h2{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 25px;
      }
    }
    &_inner{
      display: flex;
      justify-content: space-between;
      .emailWrap.profile_icon {
        background: rgba(2, 119, 189, 0.05);
        margin-bottom: 11px;
        border-radius: 5px;
      }
      &_Right{
        margin-left: 20px;
        .main_title_orientation_left{
          h3{
            display: flex;
            align-items: center;
            svg{
              width: 20px;
              height: 20px;
              margin-left: 5px;
            }
          }
        }
      }
      &_left{
        margin-right: 20px;
      }
      &_left,&_Right{
        width: 100%;
        .main_title_orientation_left{
          margin-top: 20px;
          font-weight: 400;
          h3{
            font-size: 18px;
          }
        }

        .formData{
          .profile_icon{
            .user_profile{
              display: flex;
              align-items: center;
              width: 100%;
            }
            .header_section_slider{
              margin-top: 0px;
              width: 100%;
            }
            .user_profile_pic {
              border: none;
              box-sizing: border-box;
              width: 100%;
              //width: 100px;
              //height: 100px;
              overflow: hidden;
              object-fit: cover;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px 0;
              .user_profile_icon{
                display: flex;
                width: 100%;
                align-items: center;
                height: 80px;
                padding: 0px 15px;
                label{
                  margin-left: 17px;
                }
              }
              img{
                width: 56px;
                height: 56px;
                border: none;
              }
              .add_new {
                bottom: -9px;
                right: -14px;
                input {
                  cursor: pointer;
                  font-size: 0;
                  height: 100%;
                  left: 0;
                  opacity: 0;
                  padding-left: 26px;
                  position: absolute;
                  top: 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .Step_two_optimize{
    margin-top: 20px;
    .download_sdk{
      display: flex;
      align-items: baseline;
      margin-bottom: 20px;
      .count{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: #0277BD;
        color: #ffff;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
        margin-right: 10px ;
      }
      .download_sdk_content{
        label{
          display: flex;
          align-items: center;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 22px;
          margin-bottom: 12px;
          font-weight: normal;
          svg{
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }
        }
        p{
          font-size: 13px;
          letter-spacing: 0;
          line-height: 20px;
          color: #8E8C8C;
          padding-top: 8px;
        }
        .download_btn_icon{
          display: flex;
          align-items: center;
          button{
            margin-left: 0 ;
            max-width: 200px;
            width: 100%;
            padding: 0 10px;
            min-height: 38px;
            height: 100%;
            background-color: #0277BD;
            color: #f0f5ff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          }
          img{
            width: 18px;
            height: 18px;
            padding-left: 4px;
          }
        }
        ul{
          padding-left: 21px;
        }
        a{
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
          color: #0277BD;
          padding-top: 12px;
          display: block;
          width: -moz-fit-content;
          width: fit-content;
          text-decoration: none;
        }
      }

    }
  };
  .step_three_optimize{
    &_info{
      margin-bottom: 12px;
      h3{
        font-size: 18px;
        letter-spacing: 0;
        line-height: 22px;
        margin: 19px 0 12px;
        font-weight: 400;
      }
      a{
        cursor: pointer;
        color: #0277BD;
        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
      }
    }
    &_content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &_left{
        flex-basis: 49%;
        background-color: #ecf5fa;
        padding: 12px;
        border-radius: 5px;
        button{
          min-width: 64px;
          padding: 0 16px;
          background-color: #0277BD;
          color: #f0f5ff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          height: 40px;
          min-height: 40px;
          max-height: 40px;
          line-height: 1 !important;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
        }

      }
      .font-semibold{
        font-weight: 600;
        margin-top: 0.75rem ;
        margin-bottom: 0.25rem ;
      }
      &_right{
        flex-basis: 49%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        ol{
          li{
            font-size: 14px;
            color: #8E8C8C;
            line-height: 20px;
            padding: 2px 0px;
            list-style: decimal;
            list-style-position: inside;
            a{
              font-weight: 500;
              line-height: 20px;
              color: #0277BD;
              text-decoration: none;
            }
          }
          margin-bottom: 10px;
        }
        .skip_for_now_link{
          display: flex;
          justify-content: end;
          a{
            font-weight: 600;
            line-height: 20px;
            color: #0277BD;
            text-decoration: none;
          }
        }
      }
    }
  };
  .disabled_verify_bg{
    color: #00000042 !important;
    background-color: #0000001f !important;
    font-weight: 600;
    pointer-events: none;
  };
  .step_four_optimize{
.step_four_optimize_view{
  margin: 20px 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #F2BE00;
    background: #f2be003b;
    padding: 17px 16px;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  button{
    border: none;
    padding: 10px 31px;
    border-radius: 5px;
    background-color: #0277BD;
    color: #f0f5ff;
    cursor: pointer;
    font-weight: 600;
  }
}

  }
  .indirection_details{
    display: flex;
    align-items: center;
    background-color: rgba(2, 119, 189, 0.05);
    padding: 12px;
    border-radius: 5px;
    input{
      width: 24px !important;
      height: 24px !important;
      margin: 0 12px 0 0;
      background-color: #ffff;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.manage_game_builds{
  max-width: 600px;
  margin-top: 10px;

  .Drag-Drop-Box{
    position: relative;
    cursor: pointer;
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
    }
    .filedrag{
      font-weight: bold;
      text-align: center;
      padding: 1em 0;
      margin: 1em 0;
      color: #555;
      border: 2px dashed #0277BD;
      border-radius: 5px;
      cursor: default;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        background-color: #0277BD;
        color: #fff;
        padding: 11px 15px;
        border-radius: 4px;
      }
    }
  }
  span{
    cursor: pointer;
  }
  .formData_btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
  }
}
.game_tab_overView_title{
  a{
    color: #0277BD;
    text-decoration: none;
    font-weight: 600;
  }
}
.tournament_setting_content{
  h3{
    display: flex;
    align-items: center;
    svg{
      width: 20px;
    }
  }
}
.readOnly_class{
  cursor: initial;
  background: #e2e8f0 !important;
}

.headToHead_popup_details{
  padding: 20px;
  border-bottom: 1px solid #e2e8f0;
  .formData{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    label{
      width: 55%;
      font-weight: 700 !important;
    }
  }
}
.headToHead_popup_winning_price{
  display: flex;
  align-items: center;
  justify-content: center;
  &_left{
    width: 50%;
    text-align: center;
    margin-top: 20px;
    h2{
      font-size: 24px;
      letter-spacing: 0;
      line-height: 36px;
    }
  }
  label{
    font-weight: 600;
  }
  &_right{
    width: 50%;
    text-align: center;
    margin-top: 20px;
    h2{
      font-size: 24px;
      letter-spacing: 0;
      line-height: 36px;
    }
  }
}
.formData_btn_headToHead{
  text-align: center;
  margin-top: 20px;
button{
  background-color: #0277BD;
  color: #f0f5ff;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  line-height: 1 !important;
  width: 73%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
}
.real_money_field{
  margin-top: 10px;
  label{
    margin-bottom: 7px;
  }
  input{
    margin-top: 0;
  }
}
.game_id_copy{
  display: flex;
  align-items: center;
  .copyPest_icon{
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    svg{
      width: 18px;
      height: 18px;
    }
  }
}
.profile_icon{
  .game_app_icon{
    img{
      width: 200px;
      height: 109px;
      border: 1.5px solid #dedede;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}

.user_profile_bgBox{
  border: 2px solid lightgreen;
  border-radius: 4px;
  //label{
  //  color: white;
  //}
}

.success_box_optimize{
  text-align: center;
  svg{
    width: 70px;
    height: 70px;
    color: limegreen;
  }
}
.success_box_optimize_danger{
  text-align: center;
  svg{
    width: 70px;
    height: 70px;
    color: #C81E1E;
  }
}

.disabledBtn{
  background: lightgray !important;
  color: #7a7979 !important;
  font-weight: 600;
  cursor: initial !important;
  border: none;
}

.game_edit_info{
  padding-right: 0;
  margin-left: 50px;
}
.form_game_content_details{
  .formData_btn{
    width: 488px;
  }
}

.optimize_btn_next:hover{
  background: #1976d2 !important;
  color: white !important;
}

.disabled_btn{
  background: transparent !important;
  cursor: not-allowed !important;
}

.optimize_disable_box{
  background: #ECEDF0;
}

.create_headToHead_modal_view{
  .add_admin_user_popup_title{
    padding: 0;
  }
}
.manage_game_builds_details_field{
  .Add-sdk-input-sce{
    margin-bottom: 10px;
  }
  .rdw-editor-wrapper{
    margin-top: 7px;
  }
  .manage_builds_link_flex{
    display: flex;
    .release_guide_link{
      width: 100%;
      margin-right: 10px;
    }
    .release_code_url{
      width: 100%;
      margin-left: 10px;
    }
  }
}

.disabled_checkBox{
  cursor: not-allowed !important;
}

.form_amount_entryFee{
    input{
      cursor: initial;
      background: #e2e8f0;
    }
}