.gp_left-bar{
  position: relative;
  height: 100%;
  padding-top: 10px;
}
.inner-header {
  background-color: #0C0D13;
  padding: 0px 40px;
  max-height: 86px;
  min-height: 64px;
  z-index: 49;
  color: #ffffff;
  background-color: #1d1f2b;
  border-left: 1px solid;
  .main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 86px;
    &_title {
      color: #f3eeee;
      font-weight: 600;
    }
    color: $white;
    h4 {
      font-size: 24px !important;
      font-weight: 600 !important;
      letter-spacing: 0;
      line-height: 44px !important;
      display: block;
      text-transform: capitalize;
    }
    .change-password{
      a{
        color: #0277BD;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
  .humburger {
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}
.dashboard-section {
  .Logo {
    width: 730px;
    height: 115px;
    object-fit: contain;
    margin: 0 auto;
  }
  h6 {
    font-size: 26px !important;
    font-weight: 900 !important;
    text-align: center;
    padding-top: 35px;
  }
}
.loader_class_font {
  span {
    width: 27px !important;
    height: 27px !important;
  }
  svg {
    color: white !important;
  }
}

.inner_list_details{
  .list_item{
    padding: 10px 0;
    padding-left: 64px !important;
    height: 40px !important;
  }

}

.search-filter-section{
  fieldset{
    border: 1px solid #cfd8e3;
  }
}

.side_logo{
  img {
    height: 75px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
}
.tab_sidebar_details{
  padding-top: 16px !important;
}
.passInput{
  input:focus{
    outline: none !important;
  }
}