.chat_area {
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  .chat_area_header{
    padding: 15px;
    border-bottom: 1px solid lightgray;
    h4{
      font-weight: 600;
      font-family: "Inter", sans-serif !important;
      span{
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 3px;
        font-weight: 600;
        margin-right: 10px;
        font-family: "Inter", sans-serif !important;
      }
    }
  }
  .chat_area_wrap {
    height: calc(100% - 67px);
    .chat_msg_list_wrap {
      height: 100%;
     display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      min-height: 1px;
      .chat_msg_container {
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        max-width: 1330px;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
        position: relative;
        @include comman_scrollbar_firefox(#BFC6CF, transparent);
        .chat_msg_list {
          padding: 20px 15px 0;
          position: absolute;
          left: 0;
          right: 0;
          // overflow: auto;
          height: 100%;
          .message_section {
          display: flex;
            margin: 15px 0;
            &.message_left {
              justify-content:flex-start;
            }
            &.message_right {
              justify-content:flex-end;
              .msg_avtar {
                margin-left: 1.5rem;
              }
            }
            .msg_avtar {
              margin-right: 1.5rem;
              .avtar_img {
                width: 45px;
                height: 45px;
                border: 1px solid #ffffff;
                border-radius: 100%;
                filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.25));
                -webkit-filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.25));
                border-radius: 100%;
                img {
                  max-width: 100%;
                  width: 100%;
                  display: block;
                  max-height: 100%;
                  height: 100%;
                  object-fit: cover; object-position: center;
                  border-radius: 100%;
                }
              }
            }
            .messages {
              background: #f5f7fb;
              padding: 10px;
              border-radius: 0 5px 5px 5px;
              min-width: 60px;
              max-width: 75%;
              .user_message {
                font-size: 13px;
                font-family: raleway_bold;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                p{
                  line-height: 1.5;
                  font-family: "Inter", sans-serif !important;
                  span.red {
                    color: #C00C2D;
                    font-family: "Inter", sans-serif !important;
                  }
                  &.user_title{
                    padding-right: 20px;
                  }
                }
              }
              .message_content {
                padding: 10px 0 0;
                font-family: "Inter", sans-serif !important;
                font-size: 13px;
              }
            }
          }
        }
        &::-webkit-scrollbar{
          width: 3px;
        }
        &::-webkit-scrollbar-thumb{
          background: #BFC6CF;
        }
        &::-webkit-scrollbar-track{
          background: transparent;
        }
      }
      .chat_input_wrap {
        max-width: 1390px;
        width: 100%;
        padding: 10px 15px;
        margin: auto;
        position: relative;
        background: #fff;
        .chat_input_block {
          border: 1px solid #dddfe8;
          background: #fff;
          position: relative;
          bottom: 0;
          width: 100%;
          min-height: 50px;
         display: flex;
          align-items: flex-end;
          border-radius: 3px;
          .chat_editor {
            flex: 1 1;
            .msg_text {
              input{
                color: #333;
                height: 50px;
                width: 100%;
                padding: 15px;
                border: 0;
                font-weight: 600;
                outline: none;
                font-family: "Inter", sans-serif !important;
                &::placeholder{
                  color: #73788b;
                }
                &:focus{
                outline: none !important;
              }
              }
            }
          }
        }
        .message_action {
          min-height: 50px;
        display: flex;
         align-items: center;

          .send-message {
            //border-radius: 30px;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-transform: uppercase;
            margin: 0 15px 0 0;
          cursor: pointer;
            background: rgb(51, 125, 204);
            border-radius: 3px;
            border: none;
            width: 34px;
            height: 34px;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inter", sans-serif !important;
            svg{
              path{
                fill: white;
              }
            }
          }
        }
      }
    }
  }
  .chat_msg_list::-webkit-scrollbar {
    display: none;
  }
}