.leader_board_game_list_filter{
  max-width: 300px;
  width: 100%;
  margin: 32px 0 0 40px;
  .default_dropdown{
    margin: 0;
  }
}

.add_daily_wheel_bonus_pop{
    .filter_export_details_dropDown{
      margin-top: 7px;
      margin-bottom: 10px;
    }
  textarea{
    width: 100%;
    margin-top: 7px;
    border-radius: 4px;
    border: 1px solid #cfd8e3;
    margin-bottom: 5px;
  }
  .daily_wheel_bonus_type_list{
    padding-left: 20px;
    li{
      padding: 5px 0;
    }
  }
}

.coupon_section_form_title,.offer-details-section-title{
  padding:32px 32px 10px 32px;
}
.offer-details-section{
  form{
    height: 64vh;
    overflow: auto;
    padding: 0 32px 32px;
  }
}
.coupon_form_details{
  form{
    height: 71vh;
    overflow: auto;
    padding: 0 32px 32px;
  }
}
.coupon_section_form{

  .filter_data_radio{
    margin-bottom: 5px;
    .filter_data_radio_sub{
      display: flex;
      align-items: center;
      .tab_field_right{
        margin-left: 5px;
      }
      .tab_field_left{
        margin-right: 5px;
      }
    }
    input{
      min-height: auto;
      box-shadow:none;
      width: auto;
      cursor: pointer;
    }
    .filter_data_radio_field{
      display: flex;
      align-items: center;
      input{
        margin-right: 5px;
        width: 18px;
        height: 18px;
      }
    }
  }
  .date-picker_coupon{
    display: flex;
    //align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    input{
      border: none;
      box-shadow: none;
      height: auto;
      min-height: auto !important;
      box-shadow: none;
      padding: 0 10px !important;
      font-family: "Inter", sans-serif !important;
      font-weight: 500 !important;
    }
    .date_picker_value{
      border-radius: 6px;
      padding: 0;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      background-color: white;
      border: 1px solid #cfd8e3;
      width: 100%;
      margin-bottom: 5px;
      margin-top: 5px;
      .MuiInputBase-formControl{
        height: 48px !important;
      }
  }
    .start-date-picker,.end-date-picker{
      width: 100%;
    }
    .start-date-picker{
      margin-right: 10px;
    }
    .end-date-picker{margin-left: 10px  ;}
  }
  textarea{
    border-radius: 6px;
    padding: 11px 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #cfd8e3;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.earn_section_form{
  .coins_checkbox_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filter_data_radio{
      display: flex;
      align-items: center;

      .filter_data_radio_sub{
        margin-left: 10px;
      }
    }
  }
}
form{
  input:focus{
    outline: 1px solid  #2977bd !important;
  }
  textarea{
    padding: 10px;
  }
  textarea:focus{
    padding: 10px;
    outline: 1px solid  #2977bd !important;
  }
  .start-date-picker,.end-date-picker{
      input:focus{
        outline:none !important;
      }
  }
}
.referral_user{
  margin-top: 20px;
}
.refer_form_details{
  h2{
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .refer_form_sub_details{

    .refer_form_details_filed,.formData{
      width: 100%;
    }

    .filter_days_details_dropDown{
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

.popular_game{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .popular_game_content{
    display: flex;
    align-items: center;
    input{
      margin-right: 5px;
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
  }
  .popular_field01{
    margin-right: 5px;
  }
  .popular_field02{
    margin-left: 5px;
  }
}

.game_release_section{
  input:focus{
    outline: none !important;
  }
}

.bonus_type_section{
  margin-top: 11px;
  .main_label{
    font-size: 18px;
    font-weight: 800;
  }
  .bonus_type_content_text{
    margin-top: 14px;
    .daily_wheel_bonus_section_filed{
      display: flex;
      align-items: center;
      label{
        width: 200px;
      }
      .daily_wheel_bonus_input_filed{
        width: 100%;
      }
    }
  }
    .bonus_type_content{
      display: flex;
      align-items: center;
      .type_first{
        margin-right: 10px;
      }
      .type_sec{
        margin-left: 10px;
      }
      .daily_wheel_bonus_section_filed{
        display: flex;
        align-items: center;
        width: 100%;
        label{
          width: 139px;
        }

      }
    }
  .daily_wheel_bonus_section_checkbox{
    display: flex;
    align-items: center;
    .checkbox_input{
      box-shadow: none !important;
      height: 18px;
      min-height: auto;
      width: 18px;
      margin: 0;
      margin-right: 10px;
    }
  }

}

.header_slider_details_Ads{
  .user_profile{
    margin-bottom: 10px;
    .user_profile_pic {
      img {
        width: 100%;
        height: 100px;
      }
    }
  }

  .date-picker_coupon {
    display: flex;
    //align-items: center;
    justify-content: space-between;
  }
  .date_picker_value{
    border-radius: 6px;
    padding: 0  0 0 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #cfd8e3;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    .MuiInputBase-formControl{
      height: 48px !important;
    }
  }
  .start-date-picker,.end-date-picker{
    width: 100%;
  }
  .start-date-picker{
    margin-right: 10px;
  }
  .end-date-picker{margin-left: 10px  ;}
}

.create_headToHead_modal.create_recurring_tournament.add_admin_user_popup{
  .add_admin_user_popup_content{
    height: auto;
    padding: 0;
    overflow: hidden;
  }

}

.level_popup_form_field{
  display: flex;
  .new_game_section{
    width: auto;
    padding: 0;
  }
  .level_popup_form_field_left{
    width: 100%;
    margin-left: 38px;
  }
}
.referAndEarn_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.leaderboard-bonus-section{
  padding: 32px 0;
  .form_group{
    overflow: auto;
    max-height: 78vh;
    padding: 0 32px 20px;
  }
  .filter_days_details_dropDown{
   margin-top: 5px;
  }
  .date-picker_coupon{
    margin-top: 7px;
      .start-date-picker{
        margin-right: 0;
      }
  }
  .user_kyc_section_filed{
    margin-top: 7px;
    input{
      display: flex;
      align-items: stretch;
      min-height: 48px;
      border-radius: 6px;
      padding: 0 16px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
      background-color: white;
      border: 1px solid #cfd8e3;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 7px;
      font-size: 14px !important;
      font-weight: 400 !important;
    }
  }
}