.mgp_release_section{
  .mgp_release_inner_section{
    padding: 32px 0;
    .add_admin_user_popup_content{
      padding: 0 32px;
      height: 71vh;
      overflow: auto;
    }
  }
  .rdw-editor-wrapper{
    margin-top: 5px;
  }
  .select_game_option_mode .select_game_option {
    margin-top: 5px;
  }
  .user_kyc_section_filed{
    margin-top: 10px;
  }
  .user_kyc_section_filed_document{
    margin: 5px 0 10px;
    .document_details_kyc {
      width: 100%;
      .u_file-attachment{
        width: 100px !important;
        height: 100px !important;
      }
    }
  }

  input[type='radio'], input[type='checkbox']{
    box-shadow: none;
    width: 18px;
    min-height: auto;
    height: 18px;
    margin-right: 5px;
    cursor: pointer;
  }
  .d-flex-wrap{
    display: flex;
    .form_data_field{
      display: flex;
      align-items: center;
    }
    .tab_no{
      margin-left: 10px;
    }

  }
}
.bank-icon-details{
  .user_profile{
    margin-left: unset;
  }
}