
@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin justify_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin justify_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@mixin justify_end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin space_evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@mixin flex_align_center {
  @include flex;
  @include align_center;
}
@mixin flex_justify_between {
  @include flex;
  @include justify_between;
}

@mixin flex_justify_center {
  @include flex;
  @include justify_center;
}
@mixin flex_justify_end {
  @include flex;
  @include justify_end;
}

@mixin flex_center_center {
  @include flex;
  @include align_center;
  @include justify_center;
}
@mixin flex_center_between {
  @include flex;
  @include align_center;
  @include justify_between;
}

@mixin flex_dir_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex_dir_column_rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@mixin flex_dir_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex_column {
  @include flex;
  @include flex_dir_column;
}

@mixin f_wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flex_wrap {
  @include flex;
  @include f_wrap;
}

@mixin flex_shrink {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* No CSS */ /*# sourceMappingURL=mixin.css.map */

@mixin DefaultFontSize(
  $fontfamilly,
  $fontSize: null,
  $lineHeight: null,
  $weight: null
) {
  font-size: ($fontSize / 16) + rem;
  line-height: ($lineHeight / 16) + rem;
  font-weight: $weight;
}

@mixin mediaq($point) {
  @media screen and (max-width: $point) {
    @content;
  }
}


@mixin Slickbtn {
  .slick-arrow{
    display: block;
    width: 52px;
    height: 52px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 13px 20px rgba(197 ,192, 224 ,1);
    @include mediaQuery(1025px){
      display: none;
    }
    svg{
      right: 11px ;
      top: 12px;
      position: absolute;
    }
  }
  .slick-next{
    &::before{
      display: none;
    }
  }
}

@mixin mediaQuery ($point) {
  @media screen and (max-width:$point) {
    @content;
  }
}
@mixin minmediaQuery ($point) {
  @media screen and (min-width:$point) {
    @content;
  }
}

@mixin defaultFontStyleHome( $fontSize: null, $lineHeight: null, $color: null, $letterSpacing: null) {
  font-style: normal;
  font-weight: normal;
  font-size: ($fontSize / 10)+rem;
  line-height: ($lineHeight / 10)+rem;
  color: $color;
  letter-spacing: $letterSpacing;
}
@mixin comman_scrollbar_firefox($fcolor, $scolor) {
  scrollbar-color: $fcolor $scolor ;
  scrollbar-width: thin ;
}
@mixin image {
  max-width: 100%;
  width: 100%;
  display: block;
}