.user_popup_section{
  .publisher_popup{
    .publisher_popup_box{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      .cancel_btn{
        background-color: #FFFFFF00;
        border: 1px solid #0277BD;
        color: #0277BD;
        margin-right: 10px;
        cursor: pointer;
      }
      .submit_btn{
        color: #f0f5ff;
        text-transform: capitalize;
        background-color: #1976d2;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }
      button{
        max-width: 165px;
        width: 100%;
        font-size: 14px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
        margin-top: 20px;
        height: 45px;
      }
    }
  }
  h2{
    line-height:  25px;
    color:  rgb(39, 48, 63);
    font-size: 20px;
    margin-top: 7px;
    font-weight: 600;
    font-family: "Inter", sans-serif !important;
  }
}

.common-modal {
  .common-modal-inner {
    text-align: center;
    border-radius: 6px;
    background: white;
    h2 {
      font-size: 22px !important;
      margin: 15px !important;
      line-height: 1 !important;
      font-weight: 400 !important;
    }
    p {
      color: #494949;
      line-height: 1.7rem;
      margin-bottom: 20px;
      text-align: center;
      text-transform: capitalize;
      font-size: 15px;
    }
    button {
      background: #0277bd;
      color: #fff;
      font-weight: 600;
      line-height: 2rem;
      max-width: 9.4rem;
      padding: 8px 2.5rem;
      transition: all 0.3s ease-in-out;
    }
  }
}

.textarea_form_field{
  width: 100%;
  margin-top: 10px;
  textarea{
    width: 100%;
    border-radius: 6px;
    padding:  16px;
    border: 1px solid #cfd8e3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    &:focus{
      outline: 1px solid #0277BD;
    }
  }
}

.reject_field{
  color: red !important;
}
.edit-avatar-btn{
  display: flex;
}
.lobby-type-description{
  position: relative;
  input{
    padding-right: 49px;
  }
  span{
    position: absolute;
    top: 14px;
    right: 10px;
    color: darkgray;

  }
}
.select_multiple_menu {
    img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
      object-fit: cover;
    }
  p{
      display: block;
    font-family: "Inter", sans-serif !important;
  }
}
.select-mode-img{
  display: flex;
  align-items: center;
}
.select-dropdown-main{
  .select_multiple_menu {
    img{
      display: none;
    }
    h2{
      font-size: 13px !important;
    }
    p{
      display: none !important;
    }
  }
}
.select_game_option,.select_label{
  .MuiFormControl-root{
    width: 100%;
  }
}
.select_label{
  .MuiFormControl-root{
    margin-top: 9px;
  }
}