.popular-game-main-images{
  display: flex;
  .profile_label{
    font-size: 12px;
  }
 .user_profile {
   .user_profile_pic {
     border-radius: 0 !important;
     border: 1px dashed lightgray !important;
      .addnew {
       bottom: -8px;
       height: 30px;
       position: absolute;
       right: -14px;
       width: 30px;
     }
     img {
       height: 100%;
     }
   }
 }
  p,li{
    font-family: "Inter", sans-serif ;
  }
  .leader_board_game_list_filter {
    max-width: 100%;
    width: 100%;
  }
  .form_group{
    height: 100%;
    .popular-game-first-section{
      display: flex;
      .user_profile{
        height: 334px;
        width: 200px;
        .header_section_slider{
          height: 100%;
          .user_profile_pic{
            img{
              height: 100%;
            }
          }
        }
      }
      .dropdown-popular-game{
        margin-top: 24px;
        width: 385px;
        margin-left: 29px;
        position: relative;
        .leader_board_game_list_filter{
          margin: 5px 0 0 0;
        }
        .formData_btn{
          position: absolute;
          bottom: 0;
          right: 0;
          button{
            margin: 0;
          }
        }
      }
    }
  }
  .left-side-popular-game{
    width: 100%;
  }
  .right-side-popular-game{
    width: 100%;
    .form_group{
      height: auto;
      .popular-game-first-section{
        display: flex;

        .user_profile{
          height: 143px;
          width: 143px;
          .header_section_slider{
            height: 100%;
            .user_profile_pic{
              img{
                height: 100%;
              }
            }
          }
        }
        .dropdown-popular-game{
          margin-top: 24px;
          width: 385px;
          margin-left: 29px;
          .leader_board_game_list_filter{
            margin: 5px 0 0 0;
          }
          .formData_btn{
            position: unset;
            margin-top: 36px;
            text-align: right;
            button{
              margin: 0;
              font-family: "Inter", sans-serif ;
            }
          }
        }
      }
    }
    .first-banner-form-right{
      margin-bottom: 10px;
    }
    .sec-banner-form-right{
      padding-top: 10px;
    }
  }
}
.popular-last-section{
  display: unset;
  padding-bottom: 20px;
  .left-side-popular-game{
    margin-top: 50px;
    margin-right: 0;
    .popular-game-first-section{
      width: 100%;
      .dropdown-popular-game,.user_profileDetails-section{
        width: 100%;
      }
      .user_profile{
        width: 100%;
        height: 200px;
      }
      .dropdown-popular-game{
        .formData_btn{
          position: absolute;
        }
      }

    }
  }
}
.popular-main-last-section{
    margin-top: 30px;
  .popular-game-main-images .form_group .popular-game-first-section .user_profile {
    height: auto;
    width: auto;
  }
  .user_profileDetails-section{
    position: relative;
    height: 334px;
    width: 200px;
  }
  .popular-game-main-images .form_group .popular-game-first-section .user_profile .header_section_slider .user_profile_pic img{
    height: 292px;
    object-fit: cover;
  }
  .dropdown-popular-game,.user_profileDetails-section{
    width: 100%;
  }
  .popular-game-main-images .form_group .popular-game-first-section .dropdown-popular-game{
    width: 100%;
  }
p{
  font-family: "Inter", sans-serif ;
}
}

label{
  font-family: "Inter", sans-serif ;
}
.upcoming-popup-details{
  .user_profile{
    margin-left: unset !important;
  }
  .add_admin_user_popup_title h2{
    margin-bottom: 25px;
    font-size: 22px;
  }
.leader_board_game_list_filter{
margin: 0;
max-width: 100%;
margin-top: 5px;
}
}