.Add-sdk-version-section {
  padding: 32px 0;
  h4 {
    font-size: 20px;
  }
  .form-section {
    max-height: 80vh;
    overflow: auto;
    padding: 18px 28px 18px 32px;
    form {
      .Add-sdk-version-form-sec {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .user_profile_pic{
        margin-top: 7px;
        border: 1px solid #cfd8e3;
        margin-bottom: 5px;
      }
      .rdw-editor-wrapper,.release_date{
        margin-top: 5px;
      }
      .Add-sdk-form-sec {
        .Add-sdk-input-sce {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          label {
            margin-bottom: 2px;
            font-weight: 500;
            color: #27303f;
            font-size: 14px;
          }
          input {
            height: 48px;
            border-radius: 6px;
            padding: 0 16px;
            border: 1px solid #cfd8e3;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            margin-top: 5px;
            &:focus {
              outline: 1px solid #0277bd;
            }
          }
        }
      }
    }
  }
  .Add-sdk-input-sce.invalid {
    ::placeholder {
      color: red !important;
    }
    input {
      border: 1px solid #c65252 !important;
      &:focus {
        outline: none !important;
      }
    }
  }
}
.Add-sdk-input-sce-date
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border: 1px solid #cfd8e3;
  border-radius: 5px;
}
.profile_main {
  padding-top: 15px;
  position: relative;
  .logo-notice {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3125px;
    color: #595959;
  }
  label.profile_label {
    color: #0277bd;
    font-size: 14px;
  }
    .user_profile_pic {
      border: none;
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      border-radius: 8px;
      background-color: #f6f8fa;
      overflow: hidden;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      .addnew {
        bottom: -9px;
        right: -14px;
        input[type="file"] {
          cursor: pointer;
          font-size: 0;
          height: 100%;
          left: 0;
          opacity: 0;
          padding-left: 26px;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
}

.rdw-editor-wrapper {
  box-sizing: content-box;
  border: 1px solid #cfd8e3 !important;
  border-radius: 5px !important;
}
.rdw-editor-toolbar {
  background-color: #f6f8fa !important;
  border-radius: 5px !important;
}
.rdw-option-wrapper {
  background: transparent !important;
  margin: 0 2px !important;
}
.public-DraftStyleDefault-ltr {
  padding-left: 10px !important;
  padding-right: 10px !important;
  //font-size: 13px !important;
}
.rdw-justify-aligned-block > div {
  display: inline-block;
  width: 333px;
  margin: 3px auto;
  padding: 0 10px;
}
.public-DraftStyleDefault-ltr {
  max-height: 58px !important;
  height: 100%;
}
.Add-sdk-input-sce-date {
  margin-top: 10px;
  margin-bottom: 30px;
  input {
    padding: 11px !important;
  }
  label{
    margin-bottom: 2px;
    font-weight: 500;
    color: #27303f;
    font-size: 14px !important;
  }
  .date-lable {
    margin: 5px 0;
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 13px;
    height: 48px;
  }
  .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin-top: 5px;
    width: 100%;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid #cfd8e3;
  }

  label {
    top: -6px;
    font-size: 14px;
  }
}

.form-btn-sdk {
  max-width: 320px;
  margin: 10px auto 0;
  button {
    background-color: #0277bd;
    width: 100%;
    color: #f0f5ff;
    padding: 0 16px;
    height: 40px;
    line-height: 1 !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.release_Note {
  h5 {
    font-size: 20px;
    color: #27303f;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
.sdk-file-name {
  color: #0277bd;
  border-bottom-color: #0277bd;
}
.Add-sdk-input-sce {
  position: relative;
  .and-link-input {
    padding-right: 45px !important;
  }
  .link-img {
    position: absolute;
    right: 12px;
    top: 47%;
    svg {
      width: 25px;
      height: 25px;
      color: #636d7a;
    }
  }
}
