.setting_tab_section {
  .MuiBox-root.css-1gsv261 {
    background: white;
  }
}
.game-play-rules {
  margin-top: 20px;
  button {
    background-color: #0277bd;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    color: #f0f5ff;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #0277bd;
    cursor: pointer;
  }
}
.store-pack-form-sec {
  padding: 0 10px;
  .store-pack-input-sce-data {
    display: flex;
    flex-direction: column;
  }
  //.css-16awh2u-MuiAutocomplete-root
  //.MuiOutlinedInput-root
  //.MuiAutocomplete-input {
  //  padding: 0 !important;
  //  min-height: 47px;
  //}
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 0;
    min-height: 45px;
  }
  .MuiSelect-select.MuiSelect-outlined.MuiOutlinedInput-input.MuiInputBase-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 14px;
  }
  input#checkboxes-tags-demo {
    padding: 0 !important;
  }
  button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
    padding: 13px !important;
  }
}
.config-data {
  textarea {
    width: 100%;
    border: 1px solid #cfd8e3;
    border-radius: 5px;
    padding: 9px;
    font-family: "Inter", sans-serif !important;
    &:focus{
      outline: 1px solid #0277bd !important;
    }
  }
}
.game-rules-section {
  .public-DraftStyleDefault-ltr {
    max-height: 358px !important;
    height: 100%;
  }
}
.store-pack-button {
}
.css-12n0uxm-MuiGrid-root {
  align-items: center;
}
.agent-filter {
  background-color: rgba(151, 166, 186, 0.38);
  border: none;
  padding: 14px;
  color: #97a6ba !important;
  border-radius: 5px;
  cursor: pointer;
}
.active-filter-active {
  background-color: #0277bd !important;
  color: white !important;
}
.input-filed-tab {
  background: white;
  border: 1px solid #cfd8e3 !important;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  input,
  .MuiSelect-select {
    padding: 14px 10px !important;
  }
}
div#demo-simple-select-helper,
div#mui-component-select-payoutMethod,
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.publisher_select_tab.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: 1px solid lightgray;
  padding: 0;
  height: 48px;
}
//::placeholder {
//  color: #64748b !important;
//}
.commission_Popup_publisher {
  textarea {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    padding: 10px;
    resize: none;
    &:focus {
      outline: 1px solid #0277bd;
    }
  }
}

.CompletedMsg {
  color: black;
  font-weight: 500 !important;
}
.errorMsgReject {
  color: red !important;
  font-weight: 500 !important;
}
.restrict_geo_section{
  .default_dropdown{
    margin-left: 0;
  }
}
.restrictGeo_details{
  display: flex;
  justify-content: center;
  @media screen and (max-width: 957px) {
    flex-wrap: wrap;
    justify-content: unset;
  }
  //justify-content: space-between;
  //flex-wrap: wrap;
  .formData {
    width: 454px;
    .multi-select,.dropdown-container{
      border: none !important;
    }
    .excel_export_selected_value .inner_content {
      width: 100%;
      top: -29px;
      .file_menu {
        border-radius: 6px;
        li {
          height: 48px !important;
        }
      }
    }
    .dropdown_value_details {
      width: 100%;
      margin: 5px 0 0;
    }
    .dropdown-heading{
      margin-top: 5px;
      position: relative;
      display: flex;
      min-height: 48px;
      border-radius: 4px;
      padding: 0 16px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      background-color: white;
      border: 1px solid #aaa !important;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: #64748b;
    }
  }
}
.payment_method_filter #mui-component-select-gameType {
  border: 1px solid #aaa!important;
  height: 45px!important;
}
.restrict_geo_btn{
  button{
    background-color: #0277BD;
    padding: 0 16px;
    min-width: 64px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    height: 48px;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tab_listing{
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none !important;
}

.input_search_field{
  input{
    border: 1px solid #cfd8e3;
    border-radius: 5px;
  }
}
.filter_analytics_details{
  margin-right: 5px;
  .dropdown_value_details{
    margin: 0;
    width: 155px;
  }

  .excel_export_selected_value{
    .inner_content{
      width: 153px;
      top: -30px;
      left: 1px;
    }
  }
}
.details_date_to{
  margin: 0 3px;
}

.user_payment_method_settings{
.formData {
    width: 100%;
  margin-right: 20px;
  }
  .edit_restrict_section{
    .edit_restrict_btn{
      display: flex;
      .edit_btn_margin{
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }
}
.user-profile-tab{
  .store-pack-form-sec {
    padding: 0 ;
  }
}
.user_info_country{
  input:focus{
    outline: none !important;
  }
}

.restrictGeo_details.restrictGeo_details_form{
    .formData {
      width: 415px;
      margin-right: 20px;
      margin-bottom: 10px;
      @media screen and (max-width: 1669px) {
        width: 349px;
      }
      @media screen and (max-width: 1500px) {
        width: 300px;
      }
      @media screen and (max-width: 1400px) {
        width: 300px;
      }
      @media screen and (max-width: 1367px) {
        width: 257px;
      }
    }
  .edit_restrict_section{
    .edit_restrict_btn{
      display: flex;
      align-items: center;
      .edit_btn_margin{
        margin-right: 20px;
        margin-left: 0;
      }
    }
  }

}

.restrictGeo_details.user_payment_method_settings.payment-method-details{
  .formData{
    width: 659px;
    margin-bottom: 10px;
    @media screen and (max-width: 1669px) {
      width: 500px;
    }
    @media screen and (max-width: 1550px) {
      width: 494px;
    }
    @media screen and (max-width: 1500px) {
      width: 477px;
    }
    @media screen and (max-width: 1450px) {
      width: 437px;
    }
    @media screen and (max-width: 1400px) {
      width: 417px;
    }
    @media screen and (max-width: 1367px) {
      width: 257px;
    }
  }
}
.policy-editor{
  .rdw-editor-main{
    min-height: 358px;
    max-height: 358px;
    height: 100%;
    overflow: auto;
  }
  .rdw-editor-wrapper{
    margin-top: 10px;
  }
}

.policy_form{
    input{
      display: flex;
      align-items: stretch;
      min-height: 48px;
      border-radius: 6px;
      padding: 0 16px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      background-color: white;
      border: 1px solid #cfd8e3;
      width: 50%;
      margin-bottom: 10px;
      margin-top: 7px;
    }
}

.select2-search--dropdown{
  margin: 10px 10px !important;
  padding: 0 !important;
}
.restrict_geo_section{
  .select2-container--default .select2-selection--single{
    height: 48px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 9px !important;
  }
  .emailWrap{
    margin-top: 5px !important;
  }
}