.store-pack-section {
  margin: 32px 40px;
  .store-pack-inner-box {
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background: white;
    form,
    .sdk-Box-section {
      display: flex;
      justify-content: space-between;
      .store-pack-form-sec {
        width: 100%;
        .errorMsg {
          padding-left: 10px;
        }
      }
      .store-pack-input-sce {
        padding: 0 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        label {
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 3px;
        }
        input {
          position: relative;
          display: flex;
          align-items: stretch;
          min-height: 45px;
          border-radius: 6px;
          padding: 0 16px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          border: 1px solid #cfd8e3;
          width: 100%;
          &:focus {
            outline: 1px solid #0277bd;
          }
        }
      }
    }
  }

  .store-pack-button {
    padding: 0 0.5rem;
    label {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 3px;
    }
    button {
      background-color: #0277bd;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
      0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
      max-height: 45px;
      height: 100%;
      font-size: 20px;
      border: none;
      color: white;
      padding: 0 25px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
.edit-btn-action {
  font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.store-button-flex-button {
  button {
    padding: 9px 21px !important;
    line-height: 10px;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.sdk-Box-section {
  .store-pack-button {
    button {
      background-color: #0277bd;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
      0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
      height: 100%;
      border: none;
      color: white;
      padding: 11px 25px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.loader_class_font {
  span {
    width: 27px !important;
    height: 27px !important;
  }
  svg {
    color: white !important;
  }
}
