.add_admin_user_popup{
  .add_admin_user_popup_content{
    .user_kyc_section{
      .documents_fields{
        margin-top: 10px;
        .user_kyc_section_filed_document{
          p{
            font-size: 13px;
            font-weight: 100;
            margin-top: 5px;
          }
          .document_details_kyc{
            display: flex;
          }
          .show_document_details{
            display: flex;
            img{
              height: 100%;
              object-fit: cover;
            }
          }
          .u_align-center{
            margin-top: 10px;
            .u_file-attachment{
              background: #fff;
              width: 56px;
              height: 56px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              cursor: pointer;
              margin-right: 15px;
              border: 1px dashed #d6d9e5;
              border-radius: 5px;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              input{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
                padding: 0;
                margin: 0;
                min-height:auto;
              }
            }
          }
        }
      }
    }
  }
}
.kyc-details-popup{
  h2{
    font-size: 16px;
  }
  .old-list-Aadhar-card-details{
    margin-top: 20px;
  }
}

