.bg_white_tab{
  background: white;
  padding: 0 32px;
}
.user_details_tab{
  .tab_title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    max-width: 360px;
    min-width: 90px;
    position: relative;
    min-height: 48px;
    line-height: 1.25;
    letter-spacing: 0.02857em;
    padding: 12px 16px;
    color: rgba(0, 0, 0, 0.6);
  }
}
.user_details_inner_section{

  .user_details_inner_profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .profile{
      display: flex;
      align-items: center;

      padding: 0;
      img{
        border-radius: 100%;
        height: 50px;
        object-fit: cover;
        width: 50px;
        margin-right: 10px;
      }
      h2{
        color: black;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
  .user_details_section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

  }
  .user_inner_div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (max-width: 1669px) {
      //flex-wrap: wrap;
      display: block;
    }
  }
  .let_section,.right_section{
    width: 33%;
    @media screen and (max-width: 1669px) {
      width: 100%;
    }
    @media screen and (max-width: 1493px) {
      width: 100%;
    }
  }
  .user_btn_details{
  width: 47%;
  text-align: right;
    @media screen and (max-width: 1493px) {
      width: 75%;
    }
  }
  .middle_section{
    padding-left: 50px;
    @media screen and (max-width: 1669px) {
      padding-left: 0px;
    }
    @media screen and (max-width: 1493px) {
      padding-left: 0px;
    }
  }
  .let_section{
      border-right: 1px solid #cfd8dc;
      display: flex;
    @media screen and (max-width: 1669px) {
      border: none;
    }
    @media screen and (max-width: 1493px) {
      border: none;
    }
  }
  .personal_information_content{
    .form_data{
      margin-bottom: 10px;
      display: flex;
      color: black;
      align-items: center;
      h6{
        font-weight: 500;
        font-size: 14px;
        width: 167px;
      }
      p{
        padding-left: 37px;
        font-size: 14px;
      }
    }
  }
  .right_section{
    .personal_information_content{
      padding-left: 20px;
      @media screen and (max-width: 1669px) {
        padding-left: 0px;
      }
      @media screen and (max-width: 1493px) {
        padding-left: 0px;
      }
    }
  }
  .last_section{
      button{
        background-color: #0277BD;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
        color: #f0f5ff;
        height: 40px;
        min-height: 40px;
        max-height: 40px;
        line-height: 1px;
        padding: 0 16px;
        min-width: 64px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
  }
}

.user-profile-tab {
  @include flex_center_center;
  position: relative;
  .btn {
    Button {
      position: absolute;
      right: 30px;
      top: 0px;
    }
  }


  .edit_button {
    button {
      background-color: $colorBlue;
      max-width: 220px;
      text-transform: capitalize !important;
      width: 100%;
      min-height: 38px;
      height: 100%;
      margin-right: 0.75rem !important;
      color: white;
      border: transparent;
      border-radius: 7px;
      margin-top: 27px;
    }
  }
  .EditText {
    input {
      height: 0px !important;
    }
  }

  .user-details {
    padding-left: 47px;
    .sd_flex{
      align-items: center;
    }
    .text {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
      font-weight: 500;
      padding-bottom: 14px;
      color: black;
      b {
        min-width: 150px;
        font-weight: 500 !important;
        font-size: 14px !important;
        @include DefaultFontSize($fontMed, 10, 16, 500);
      }
    }
  }
  form{
    input{
      border: 1px solid #cfd8e3;
      border-radius: 5px;
    }
    .country-select{
      width: 231px;
    }
  }
}

.user-img {
  position: relative;
  .user-profile {
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: black;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .avatar_img_user{
      width: 100%;
      height: 100%;
    }
  }
  .EditIcon {
    background: $white;
    border: 2px solid $colorBlue;
    color: $colorBlue;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input_file {
  cursor: pointer;
  input {
    -webkit-appearance: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 100%;
    inset: 0;
    z-index: 0;
  }
  .edit_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.user_detail_info{
  padding: 32px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: white;
  border-bottom: 1px solid #e2e8f0;
  .info_filed{
    padding-bottom: 3px;
      .info_title{
        font-weight: 600;
      }
      span{
        color: #0C0D13;
      }
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #0277BD !important;
}
.update_bonus_btn{
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  background: #1d1f2b;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.user_info_country{
  input {
    height:  auto !important;
  }
}
.user_info_edit{
  input{
    width: 211px;
  }
}
.user_field_content_row{
  display: flex;
  justify-content: space-between;
  .user_field_content_flex{
    display: flex;
  }
}