$lighBlack: #1d1f2b;
$lightGray: #f2f2f2;
$Bglight: #ffffff1f;
$gray: #e2e8f0;
$white: #fff;
$error: #ff0000;
$loginBg: #f1f5f9;
$colorBlue: #0277bd;
// media
$smallMobile: 325px;
$mobileSmall: 375px;
$mobile: 479px;
$mobileLarge: 576px;
$ipad: 768px;
$large: 991px;
$extraLarge: 1024px;
$desktop: 1366px;

// Font family

$fontlight: "Roboto_light";
$fontreg: "Roboto";
$fontMed: "Roboto_medium";
$fontbold: "Roboto_bold";

$screen-1199: 1199px;
$screen-1075: 1075px;
$screen-960: 960px;
$screen-768: 768px;
$screen-700: 700px;
$screen-665: 665px;
$screen-600: 600px;
$screen-576: 576px;
$screen-550: 550px;
$screen-500: 500px;
$screen-480: 480px;
$screen-450: 450px;
$screen-395: 395px;
$screen-375: 375px;
$screen-350: 350px;
