@import "variable";
@import "mixin";
@import "common";

@import "dashboard";
@import "header";
@import "auth";
@import "forgotPasswod";
@import "table";
@import "adminUser";
@import "userdetails";
@import "filter";
@import "modal";
@import "avatars";
@import "addGamePop";
@import "storepack";
@import "sdk";
@import "setting";
@import "analytics";
@import "website";

@import "allGameDetails";
@import "gameTabDetails";
@import "commonFilter";
@import "userKYC";
@import "leaderboard";
@import "documentation";
@import "mgpRelease";
@import "helpAndSupportChat";
@import "popular";
@import "dropdown";



.css-t109xd-MuiButtonBase-root-MuiListItemButton-root.Mui-selected,.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected{
  background: #1976d252 !important;
  span{
    color: white !important;
  }
  svg{
    fill:white !important ;
  }
}

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.Mui-selected.list_item.css-17z6x6n,.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.Mui-selected.list_item.css-1uwabd6{
  background: #1976d252 !important;
  span{
    color: white !important;
  }
  svg{
    fill:white !important ;
  }
}

.search-filter-section fieldset{
  border: none !important;
}

fieldset{
  border: none !important;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,.MuiFormControl-root.MuiTextField-root.css-i44wyl{
  width: 100%;
}
button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-195y93z-MuiButtonBase-root-MuiPickersDay-root,
button.MuiButtonBase-root.MuiPickersDay-root.Mui-selected.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-wed0tz{
  color: white !important;
  font-size: 14px !important;
  font-family: "Inter", sans-serif !important;
}
.css-1v994a0 {
  font-size: 14px;
}
.large-device-show{
  @media screen and (max-width: 1618px) {
    display: none;
  }
}
.small-device-show{
  display: none;
  @media screen and (max-width: 1618px) {
    display: block;
  }
}
.avatar_box{
  .small-outer-box{
    @media screen and (max-width: 1618px) {
      width: 100%;
      margin-right: 40px;
    }
  }
}
input.rdw-image-modal-size-input,button.rdw-image-modal-btn,span.rdw-image-modal-header-option,span.rdw-embedded-modal-header-option,.rdw-embedded-modal-link-input,
.rdw-embedded-modal-size-input,button.rdw-embedded-modal-btn,.rdw-link-modal-label,.rdw-link-modal-target-option > span,.rdw-link-modal-input,.rdw-link-modal-btn{
  font-family: "Inter", sans-serif !important;
}
.rdw-embedded-modal-size-input{
  padding: 0 10px;
  height: 30px !important;
}
.rdw-link-modal,.rdw-embedded-modal{
  box-sizing: unset !important;

}