* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: normal;
}
body{
  font-family: "Inter", sans-serif ;
  font-weight: 400;
  font-size: 14px;
}

input{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  border-radius: 5px !important;
}
input[type='radio']{
  cursor: pointer;
  min-height: 16px !important;
}
.add_admin_user_popup{
  .date-picker-details-section{
    margin-top: 20px;
    .date-label{
      font-weight: 500;
    }
    .care-datePicker{
      display: flex;
      margin-top: 5px;
      label{
        font-size: 12px;
      }
      .start-time-date {
        margin-right: 20px;
      }
      .end-time-date{
        margin-left: 20px;
      }
    }
    .start-time-date,.end-time-date{
      input{
        min-height: auto;
        //background: rgba(51, 51, 51, 0.5);
        border: 1px solid #cfd8e3;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        padding: 10px 24px 10px 10px;
        width: 100%;
        height: 44px;
      }

      .react-datepicker-time__header {
        font-family: "Inter", sans-serif;
      }
      li.react-datepicker__time-list-item {
        font-family: "Inter", sans-serif;
      }
      .react-datepicker-popper[data-placement^=bottom] {
        padding-top: 0 !important;
      }
      .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ,.react-datepicker__time-container{
        width: 123px !important;
      }
      .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{
        left: -14px !important;
      }
    }
  }

}

.select-dropdown-userInfo{
  width: 100% ;
  .select2-container--default .select2-selection--single{
    border: 1px solid #cfd8e3 !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0 !important;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0 !important;
    min-width:0 !important;
  }
}
@import "~react-datepicker/dist/react-datepicker.css";
@import "assets/css/app";

